/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/
/*************************** 宽屏样式 start***************************/
.w_1200 .review_left{width:840px;}
.w_1200 #pro_review{padding:11px 22px 20px 17px;}
.w_1200 #pro_review .left{width:710px;}
.w_1200 #pro_review .right{width:410px;}
.w_1200 .goods_view dt{width:168px; height:168px;}
.w_1200 .goods_view dd{width:198px; margin-left:180px;}

.w_1200 .prod_menu .page ul{left:-1px; right:auto;}
.w_1200 .prod_menu .page_item{display:block;}

.w_1200 #shield_hd{width:1200px;}
.w_1200 #shield_bd .wide{width:1200px;}
.w_1200 #shield_bd .wide>dl{width:324px; margin-left:88px;}
.w_1200 #shield_bd .wide>dl>dt{margin:31px auto 18px;}
.w_1200 #shield_bd .wide>dl:first-child{margin-left:23px;}

.w_1200 .sitemap_box dl{width:210px;}

/*产品特效框 竖向 Start*/
.w_1200 .prod_box{width:220px; margin-left:20px; margin-bottom:20px; min-height:380px;}
.w_1200 .prod_box .prod_box_pic{height:216px;}
.w_1200 .prod_box .prod_box_pic .thumb_hover{width:220px; height:220px;}
.w_1200 .prod_box .prod_box_button .addtocart{width:128px; background-position:0 -92px;}
.w_1200 .prod_box .prod_box_button .addtocart>a{text-indent:38px;}
.w_1200 .prod_box .prod_box_button .wishlist, .w_1200 .prod_box .prod_box_button .compare{width:45px;}
.w_1200 .prod_box .add_cart_box .add_cart_bg{top:183px; width:218px;}
.w_1200 .prod_box .add_cart_box .add_cart{top:183px; width:218px; background-position:50px -140px; text-indent:30px;}

.w_1200 .prod_box_2{width:218px; min-height:300px; margin-bottom:30px;}
.w_1200 .prod_box_2 .prod_box_pic{height:218px;}

.w_1200 .prod_box_3{width:198px; padding:10px 10px 0; min-height:310px;}
.w_1200 .prod_box_3 .prod_box_pic{height:198px;}
.w_1200 .prod_box_3 .button_group{padding:0 10px 5px;}
.w_1200 .prod_box_3 .button_group .addtocart>a{background-image:none; text-indent:0;}

.w_1200 .prod_box_4 .prod_action .addtocart{margin-left:10px;}
.w_1200 .prod_box_4 .prod_action .addtocart>a{width:112px; background-position:0 -98px; text-indent:30px;}
.w_1200 .prod_box_4 .prod_action .addtocart>a:hover{background-position:0 -66px;}

.w_1200 .prod_box_5{min-height:auto;}
.w_1200 .prod_box_5 .prod_box_pic{height:206px;}
.w_1200 .prod_box_5 .prod_box_pic.pic_enlarge{height:216px;}

.w_1200 .prod_box_6{min-height:auto;}
.w_1200 .prod_box_6 .prod_box_pic{height:220px;}
/*产品特效框 竖向 End*/

/*产品详细页 Start*/
.w_1200 .group_promotion .suits{width:720px;}
/*产品详细页 End*/

/*产品评论页 Start*/
.w_1200 .prod_write_review .review_main_box{width:320px; padding-left:80px;}
.w_1200 .prod_write_review .review_write{width:300px; padding-left:0;}

.w_1200 .prod_write_review_side .review_main_box{width:250px; padding-left:40px;}
.w_1200 .prod_write_review_side .histogram_list>li .size_base{width:120px;}
.w_1200 .prod_write_review_side .review_write{padding-left:0;}
/*产品评论页 End*/
/*************************** 宽屏样式 end ***************************/

/*************************** 多语言样式 start ***************************/
.lang_de #shield_bd .wide>dl>dd{line-height:160%;}
.lang_es #shield_bd .wide>dl>dd{line-height:160%;}
.lang_fr #shield_bd .wide>dl>dd{line-height:170%;}
.lang_ru #shield_bd .wide>dl>dd{line-height:160%;}
/*************************** 多语言样式 end ***************************/

/*************************** 全局 start ***************************/
*{font-family:Verdana;}
body{font-size:12px;}
img{max-height:100%; max-width:100%;}
.wide{width:980px; margin:0 auto; min-width:980px;}
.full{width:100%; margin:0 auto;}
.show{display:block;}
.hide{display:none;}
.white_bg{background:#fff;}
.blue{color:#005ab0;}
.form_button_bg{background-color:#005AB0; border-color:#005AB0;}
.form_select_tips{border-color:#ff0000;}
.error, .error_info{color:#900; margin:0; font-family:Verdana;}
.clearfix:after{content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;}
#top_bar_outer, #header, #nav_outer, #service_outer, #footer_outer{min-width:980px;}
.min{ min-width:980px;}

/*body*/
body.hidden{overflow:hidden;}

/*面包屑地址*/
#location{height:21px; line-height:21px; text-indent:7px; padding:9px 0 12px; font:10px/25px Verdana;}

/*产品框 竖向*/
.pro_item{background:#fff;}
.pro_item dt{overflow:hidden; position:relative;}
.pro_item .pro_name{line-height:18px;}
.pro_item .pro_price, .pro_item .pro_price *{font-size:14px; font-weight:bold;}
.pro_item .free_shipping{font-size:12px; font-weight:bold; line-height:14px; height:14px; margin-top:8px;}
.pro_item .favorite{display:inline-block; margin-left:5px; cursor:pointer; line-height:99%;}
.pro_item .favorite:hover{color:#cb2027;}
.pro_item .review_count{font-size:11px; margin-left:2px;}
.pro_item .review_count:hover{color:#cb2027;}

/*产品框 横向*/
.flat_pro_item{border-top:1px #ddd dotted;}
.flat_pro_item dt{float:left; margin-right:16px;}
.flat_pro_item .desc_box{margin-right:20px;}
.flat_pro_item .desc_box>div{margin:0; font-size:10px; line-height:18px; color:#888;}
.flat_pro_item .desc_box a.detail:hover{text-decoration:underline;}

/*产品特效框 竖向 Start*/
.prod_box{position:relative; min-height:330px;}
.prod_box .prod_box_pic{text-align:center; vertical-align:middle; background:#fff; position:relative; z-index:10; border:2px #fff solid;}
.prod_box .prod_box_pic a{width:100%; height:100%; display:inline-block;}
.prod_box .prod_box_pic img{max-width:100%; max-height:100%;}
.prod_box .prod_box_pic .icon_discount{position:absolute; top:0; right:0; width:44px; height:25px; color:#fff; line-height:12px; padding-top:5px;}
.prod_box .prod_box_pic .icon_discount b{font-size:16px;}
.prod_box .prod_box_pic .icon_discount_foot{width:0; height:0; border-left:22px transparent solid; border-right:22px transparent solid; border-top-width:8px; border-top-style:solid; position:absolute; right:0; top:30px;}
.prod_box .prod_box_pic .icon_seckill{padding:0 7px; line-height:20px; overflow:hidden; position:absolute; top:6px; left:6px; color:#fff; display:none;}
.prod_box .prod_box_pic .thumb_hover{position:absolute; top:0; left:0; opacity:0; filter:alpha(opacity=0); display:block; background:#fff;}
.prod_box .prod_box_inner{padding:0 7px;}
.prod_box .prod_box_inner .pro_name{line-height:18px;}
.prod_box .prod_box_inner .pro_price, .prod_box .pro_price *{font-size:14px; font-weight:bold;}
.prod_box .prod_box_inner .free_shipping{font-size:12px; font-weight:bold; line-height:14px; height:14px; margin-top:8px;}
.prod_box .prod_box_inner .favorite{display:inline-block; margin-left:5px; cursor:pointer; line-height:99%;}
.prod_box .prod_box_inner .favorite:hover{color:#cb2027;}
.prod_box .prod_box_inner .review_count{font-size:11px; margin-left:2px;}
.prod_box .prod_box_inner .review_count:hover{color:#cb2027;}
.prod_box .prod_box_view{float:left; margin:10px 0 0; width:100%; border-top:1px solid #454545; opacity:0; padding:0; height:46px; background:#000; margin-top:-66px; text-align:center; transition:all 0.3s ease-out; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out;}
.prod_box .prod_box_button{border-top:1px #454545 solid;}
.prod_box .prod_box_button>div{height:45px; line-height:45px; border-right:1px #454545 solid; text-align:center; background-image:url(../images/global/prod_list_ico.png); background-repeat:no-repeat;}
.prod_box .prod_box_button>div>a{width:100%; height:100%; display:inline-block;}
.prod_box .prod_box_button .addtocart{width:56px; border:0; background-position:center -92px; text-align:left;}
.prod_box .prod_box_button .addtocart>a{text-indent:-9999px; text-decoration:none;}
.prod_box .prod_box_button .wishlist, .prod_box .prod_box_button .compare{width:55px; background-position:center 0;}
.prod_box .prod_box_button .compare{background-position:center -45px;}
.prod_box .add_cart_box{display:none;}
.prod_box .add_cart_box .add_cart_bg{position:absolute; left:0; top:133px; width:168px; height:35px; opacity:0.7; filter:alpha(opacity=70); z-index:10;}
.prod_box .add_cart_box .add_cart{position:absolute; left:0; top:133px; width:168px; height:35px; line-height:35px; color:#fff; z-index:10; text-align:center; background-image:url(../images/global/prod_list_ico.png); background-repeat:no-repeat; background-position:24px -140px; text-indent:26px; text-decoration:none;}

.prod_box.hover_1 .prod_box_pic{border-color:#000;}
.prod_box.hover_1 .prod_box_info{background:#000; color:#fff;}
.prod_box.hover_1 .prod_box_view{opacity:1; filter:alpha(opacity=100); z-index:1; position:relative; margin-top:0; border-top:1px solid #454545;}
.prod_box.hover_1 a, .prod_box.hover_1 .prod_price *, .prod_box.hover_1 .pro_price *, .prod_box.hover_1 del *{color:#fff;}

.prod_box_2{width:166px; border:1px #fff solid; min-height:200px; margin-bottom:30px;}
.prod_box_2 .prod_box_pic{height:166px; border:0;}
.prod_box_2.hover_2 .add_cart_box{display:block;}
.prod_box_2.hover_2{border:1px #d8d8d8 solid; box-shadow:3px 3px 4px 0px rgba(0,0,0,0.2);}

.prod_box_3{width:154px; padding:6px 6px 0; min-height:265px; border-width:1px 1px medium; border-color:#fff; border-style:solid solid none; border-bottom:0; transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; box-shadow:1px 1px 0 0 #fff inset, 1px 1px 0 0 #fff; position:relative; border-radius:8px 8px 0 0;}
.prod_box_3 .prod_box_pic{height:154px;}
.prod_box_3 .button_group{position:absolute; top:100%; left:-1px; right:-1px; padding:0 6px 5px; opacity:0; border-width:medium 1px 1px; border-color:#fff; border-style:none solid solid; border-top:0; transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out; box-shadow:1px 0 0 0 #fff inset, 1px 1px 0 0 #fff; border-radius:0 0 8px 8px; z-index:11;}
.prod_box_3 .button_group>div{overflow:hidden;}
.prod_box_3 .button_group .addtocart>a{border-radius:10px; padding:7px 13px; line-height:20px; display:inline-block; text-transform:uppercase; color:#fff; text-decoration:none; background-image:url(../images/global/prod_list_ico.png); background-repeat:no-repeat; background-position:center -140px; text-indent:-9999px;}
.prod_box_3 .button_group .wishlist>a{width:35px; height:35px; border:1px #bbb solid; border-radius:8px; margin-left:10px; display:inline-block; background-image:url(../images/global/wishlist_bg.png); background-repeat:no-repeat; background-position:0 0; transition:background-color 0.5s ease; -webkit-transition:background-color 0.5s ease;}
.prod_box_3 .button_group .wishlist>a:hover{background-position:0 -34px; background-color:#b22500; border:1px #c22500 solid;}
.prod_box_3.hover_3{border-color:#989898; background:#e9e9e9;}
.prod_box_3.hover_3 .button_group{border-color:#989898; background:#e9e9e9; opacity:1;}

.prod_box_4 .prod_box_pic .icon_eyes{position:absolute; top:50%; left:50%; width:80px; height:80px; margin-left:-40px; margin-top:-40px; opacity:0; animation:fadeOut .4s; -webkit-animation:fadeOut .4s; background:url(../images/global/eyes.png) no-repeat;}
.prod_box_4 .prod_box_pic:hover .icon_eyes{opacity:0.6; animation:bounceIn .4s; -webkit-animation:bounceIn .4s;}
.prod_box_4 .prod_action{height:44px; margin-top:5px;}
.prod_box_4 .prod_action>div{overflow:hidden; opacity:0; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out;}
.prod_box_4 .prod_action>div>a{width:35px; height:35px; line-height:35px; display:inline-block; border:3px #e9e9e9 solid; background-image:url(../images/global/prod_action.png); background-repeat:no-repeat;}
.prod_box_4 .prod_action>div>a:hover{border-color:#232323; background-color:#232323; color:#fff;}
.prod_box_4 .prod_action .addtocart{margin-left:22px; opacity:1;}
.prod_box_4 .prod_action .addtocart>a{background-position:center -98px; text-indent:-9999px; text-decoration:none;}
.prod_box_4 .prod_action .addtocart>a:hover{background-position:center -66px;}
.prod_box_4 .prod_action .wishlist>a{background-position:center -32px;}
.prod_box_4 .prod_action .wishlist>a:hover{background-position:center 0;}
.prod_box_4 .prod_action .compare>a{background-position:center -164px;}
.prod_box_4 .prod_action .compare>a:hover{background-position:center -131px;}
.prod_box_4.hover_4 .prod_action>div{opacity:1;}

.prod_box_5{min-height:auto;}
.prod_box_5 .prod_box_pic{height:158px; padding:5px; border:0;}
.prod_box_5 .prod_box_pic.pic_enlarge{height:168px; padding:0;}

.prod_box_6{min-height:auto;}
.prod_box_6 .prod_box_pic{height:168px; border:0;}
/*产品特效框 竖向 End*/

/*通告栏*/
#top_banner{position:relative; width:100%; min-height:30px; margin:0 auto; text-align:center;}
#top_banner .wide{position:relative;}
#top_banner .top_banner_close{width:19px; height:19px; background:url(../images/global/top_banner_close.png) no-repeat 0 0; position:absolute; right:5px; top:5px; display:block;}
#top_banner .top_banner_close:hover{background-position:0 -19px;}

/*翻页*/
#turn_page{text-align:center; height:35px; line-height:35px; clear:both;}
#turn_page li{border:1px #cecece solid; display:inline-block; *display:inline; *zoom:1; font-size:14px; height:33px; line-height:33px; overflow:hidden; background:#fff; vertical-align:top; margin:0 4px; border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#turn_page li em{width:7px; height:12px; display:inline-block; vertical-align:middle; margin-top:-2px;}
#turn_page font, #turn_page a{width:32px; height:33px; display:block; text-align:center; text-decoration:none;}
#turn_page .page_item_current{background:#333; color:#fff; cursor:default;}
#turn_page .page_button, #turn_page .page_noclick{width:auto; padding:0 12px;}
#turn_page .page_noclick{cursor:no-drop;}
.icon_page_prev{background:url(../images/global/normal.png) no-repeat -391px -24px; margin-right:6px;}
.icon_page_next{background:url(../images/global/normal.png) no-repeat -408px -24px; margin-left:6px;}

/*loading*/
.loading{z-index:100; position:absolute; background:#ccc; top:0; left:0; width:100%; height:100%;}
.loading_big{background:url(../images/global/loading.gif) no-repeat; z-index:9999; position:absolute; width:32px; height:32px; cursor:wait;}
.loading_small{background:url(../images/global/loading_small.gif) no-repeat; z-index:9999; position:absolute; width:14px; height:14px; cursor:wait;}

/*提示框*/
#prompt_box{position:fixed; opacity:0.95; z-index:100000; top:20%;}
#prompt_box .box_bg{width:100%; height:100%; background-color:#fff; position:absolute; top:0; left:0; -moz-box-shadow:0px 0px 20px #000; -webkit-box-shadow:0px 0px 20px #000; box-shadow:0px 0px 20px #000; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
#prompt_close{top:10px; right:-5px; width:40px; height:26px; font-size:30px; color:#000; opacity:0.2; filter:alpha(opacity=20); text-decoration:none; font-family:Helvetica; font-weight:bold; position:absolute; z-index:100000;}
#prompt_close:hover{color:#000000; text-decoration:none; cursor:pointer; opacity:0.4; filter:alpha(opacity=40);}
#prompt_content{width:400px; padding:20px; padding-bottom:0px; position:relative; z-index:10; zoom:1; background-color:#fff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -webkit-background-clip:padding-box; -moz-background-clip:padding-box; background-clip:padding-box;}
#prompt_content label{font:14px/100% Verdana, Arial, Helvetica, sans-serif; display:block; padding-bottom:12px; color:#333; line-height:18px;}
#prompt_content ul{margin-top:16px;}
#prompt_content li{padding:8px 0;}
#prompt_content li label{ padding:0; font:inherit;}
#prompt_content li strong{font:14px/100% Verdana, Arial, Helvetica, sans-serif; display:inline-block; padding-right:10px; color:#000;}
#prompt_content li span{display:inline-block; padding-right:8px; color:#666;}
#prompt_content li span.price{color:#c70000; font-family:Verdana;}
#prompt_content .footRegion{-webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px; padding:14px 19px 15px; margin:15px 0 0 -19px; background-color:whiteSmoke; border-top:1px solid #ddd; -webkit-box-shadow:inset 0 1px 0 #ffffff; -moz-box-shadow:inset 0 1px 0 #ffffff; box-shadow:inset 0 1px 0 #ffffff; width:100%;}
#prompt_content .footRegion .btn{min-width:70px; display:inline-block; padding:4px 10px 4px; margin-bottom:0; font-size:13px; line-height:18px; color:#ffffff; text-align:center; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); vertical-align:middle; background-repeat:repeat-x; border:1px solid #cccccc; border-bottom-color:#b3b3b3; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor:pointer;}
#prompt_content .footRegion .btn:hover{color:#333333; text-decoration:none; background-color:#e6e6e6; background-position:0 -15px; -webkit-transition:background-position 0.1s linear; -moz-transition:background-position 0.1s linear; -ms-transition:background-position 0.1s linear; -o-transition:background-position 0.1s linear; transition:background-position 0.1s linear;}
#prompt_content .footRegion .btn-success{background-color:#da4f49; background-image:-ms-linear-gradient(top, #ee5f5b, #bd362f); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)); background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f); background-image:-o-linear-gradient(top, #ee5f5b, #bd362f); background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f); background-image:linear-gradient(top, #ee5f5b, #bd362f); border-color:#bd362f #bd362f #802420; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); margin-right:20px;}
#prompt_content .footRegion .btn-success:hover{background-color:#bd362f; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); color:#ffffff;}
#prompt_content .cart_view{padding:15px 0 15px; font-size:14px;}
#prompt_content .cart_view p{height:37px; margin:0 0 10px; padding-left:45px; line-height:34px; background:url(../images/global/normal.png) no-repeat -597px -145px;}
#prompt_content .arrival_view p{line-height:23px;}

/*分享框*/
#share_box{position:fixed; top:15%; left:50%; width:100%; margin-left:-20pc; overflow:hidden; z-index:99999; background:transparent;}
#share_box .share_close{position:fixed; right:20px; top:20px; width:30px; height:30px; margin:0; padding:0; background:none; background-color:#fff; border:0; border-radius:50%; color:#000; font-family:arial,sans-serif; font-size:11px; font-weight:400; line-height:30px; cursor:pointer; transition:all .4s ease;}
#share_box .share_close>span{font-size:28px; line-height:0; font-family:arial,sans-serif; display:inline-block;}
#share_box .share_close:hover{background-color:#666; color:#fff;}
#share_box .share_hd{display:inline-block; text-align:center;}
#share_box .share_hd>span{width:575px; padding:0; display:block;}
#share_box .share_hd .share_title{font-size:3pc; font-weight:300; line-height:3pc; color:#fff; margin:0 35px 20px; font-family:helvetica neue,helvetica,arial,sans-serif;}
#share_box .share_hd .page_title{font-size:15px; font-weight:500; line-height:20px; color:#eee; margin:0 35px;}
#share_box .share_hd .page_url{font-size:9pt; font-weight:300; line-height:20px; color:#eee; margin:0 35px 10px; opacity:.6;}
#share_box .share_list{width:40pc; padding:20px 0; position:relative;}
#share_box .share_list>li{display:inline-block; position:relative; width:84px; margin:0 17px 20px 22px; vertical-align:top;}
#share_box .share_list>li>button{width:84px; height:84px; background-image:url(../images/global/share.png); background-repeat:no-repeat; background-color:transparent; border:0; cursor:pointer; border-radius:50%; overflow:hidden; transition:transform .2s ease;}
#share_box .share_list>li>button:hover{-webkit-transform:scale(1.05,1.05); transform:scale(1.05,1.05);}
#share_box .share_list>li .share_label{display:block; color:#eeecec; font-size:14px; font-weight:300; letter-spacing:.8px; text-align:center;}
.share_facebook{background-position:0 0;}
.share_google{background-position:-84px -168px;}
.share_twitter{background-position:-84px 0;}
.share_vk{background-position:-168px -168px;}
.share_linkedin{background-position:-168px 0;}
.share_googleplus{background-position:-252px 0;}
.share_digg{background-position:-168px -84px;}
.share_reddit{background-position:-252px -84px;}
.share_stumbleupon{background-position:0 -168px;}
.share_delicious{background-position:-84px -84px;}
.share_pinterest{background-position:0 -84px;}

/*Follow功能*/
.follow_toolbox{padding-bottom:10px;}
.follow_toolbox li{width:28px; margin:0 5px 5px 0; float:left;}
.follow_toolbox li>a{width:inherit; height:28px; display:block; line-height:16px; white-space:nowrap; text-indent:999px; overflow:hidden; background-image:url(../images/global/icon_follow.png); background-repeat:no-repeat; transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out;}
.follow_toolbox li>a em{display:block; font-size:14px; line-height:18px;}
.follow_toolbox li>a:focus, .follow_toolbox li>a:hover{transform:translateY(-4px); -webkit-transform:translateY(-4px);}
.follow_facebook{background-position:-56px -140px;}
.follow_google{background-position:-84px -112px;}
.follow_twitter{background-position:-140px -56px;}
.follow_vk{background-position:0 -196px;}
.follow_linkedin{background-position:-196px 0;}
.follow_pinterest{background-position:-112px -84px;}
.follow_youtube{background-position:-168px -28px;}
.follow_instagram{background-position:-28px -168px;}

/*Follow Us Of New 功能*/
.follow_us_list{height:40px; padding:0;}
.follow_us_list li{width:40px; margin-right:10px; display:inline-block;}
.follow_us_list li>a{width:inherit; height:40px; display:block; line-height:40px; white-space:nowrap; text-indent:999px; overflow:hidden; background-image:url(../images/global/icon_follow_0.png); background-repeat:no-repeat; transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out;}
.follow_us_list li>a em{display:block; font-size:14px; line-height:18px;}
.follow_us_list li>a:focus, .follow_us_list li>a:hover{transform:translateY(-4px); -webkit-transform:translateY(-4px);}
.follow_us_type_0 li>a:focus, .follow_us_type_0 li>a:hover{background-image:url(../images/global/icon_follow_1.png);}
.follow_us_type_1 li>a{background-image:url(../images/global/icon_follow_1.png);}
.follow_us_type_2 li>a{background-image:url(../images/global/icon_follow_2.png);}
.follow_us_type_3 li>a{background-image:url(../images/global/icon_follow_3.png);}
.icon_follow_facebook{background-position:0 0;}
.icon_follow_twitter{background-position:0 -40px;}
.icon_follow_pinterest{background-position:0 -80px;}
.icon_follow_linkedin{background-position:0 -120px;}
.icon_follow_youtube{background-position:0 -160px;}
.icon_follow_google{background-position:0 -200px;}
.icon_follow_vk{background-position:0 -240px;}
.icon_follow_instagram{background-position:0 -280px;}

/*产品详细弹出框*/
#shopbox{position:fixed; top:15%; left:50%; width:auto; margin-left:-29pc; overflow:hidden; z-index:99999; background:transparent;}
#shopbox .shopbox_close{position:fixed; right:50%; top:0; width:60px; height:45px; margin:0; padding:0; margin-right:-32pc; background:none; background-color:#fff; border:0; color:#888; font-family:arial,sans-serif; font-size:10px; font-weight:400; line-height:30px; cursor:pointer; border-bottom-left-radius:5px; border-bottom-right-radius:5px; transition:all .4s ease;}
#shopbox .shopbox_close>span{font-size:36px; line-height:0; font-family:arial,sans-serif; display:inline-block;}
#shopbox .shopbox_close:hover{background-color:#ccc; color:#fff;}
#shopbox .shopbox_wrap{width:905px; overflow:hidden;}
#shopbox .shopbox_skin{padding:15px; width:auto; height:auto; background:url(../images/global/loading_oth.gif) no-repeat center center #fff; -webkit-border-radius:6px; box-shadow:0 10px 25px rgba(0,0,0,.5); -ms-box-shadow:0 10px 25px rgba(0,0,0,.5); -o-box-shadow:0 10px 25px rgba(0,0,0,.5); -webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);}
#shopbox .shopbox_inner{height:530px;}
#shopbox .shopbox_frame{width:100%; height:100%; display:block;}
/*语言和货币编辑弹出框*/
#shopbox .pop_skin{min-height:278px; max-height:492px; padding:0 20px 28px; background:#fff; border-radius:6px 6px 0 0;}
#shopbox .pop_skin h4{width:100%; height:11px; margin:21px 0 8px; padding-bottom:10px; font:16px/11px Verdana; border-bottom:1px #ddd solid; clear:both; display:inline-block;}
#shopbox .pop_skin ul.lang_item{width:165px; margin:0 8px 2px 0; display:block; float:left;}
#shopbox .pop_skin ul.lang_item>li{width:160px; overflow:hidden; padding:2px 0 3px 5px; font-size:12px; line-height:16px; cursor:pointer;}
#shopbox .pop_skin ul.lang_item>li:hover{color:#333; background-color:#e5e5e5;}
#shopbox .pop_skin ul.lang_item>li.current{color:#fff; background-color:#666;}
#shopbox .shopbox_bot{height:45px; padding:10px 10px 0 30px; background-color:#f0f0f0; border-top:1px #ddd solid; border-radius:0 0 6px 6px;}
#shopbox .shopbox_bot .btn{display:block; height:30px; line-height:30px; margin-right:10px; padding:0 30px; color:#555; font-size:16px; text-align:center; text-decoration:none; float:right; cursor:pointer; background:#f7f7f7; background-image:linear-gradient(to bottom, #fff, #f0f0f0); background-image:-webkit-linear-gradient(to bottom, #fff, #f0f0f0); border:1px #ccc solid; border-radius:5px;}
#shopbox .shopbox_bot .btn_success{color:#fff; background:#005AB0; background-image:linear-gradient(to bottom, #09F, #06F); background-image:-webkit-linear-gradient(to bottom, #09F, #06F); border:1px #3952B8 solid;}
#shopbox .shopbox_bot .btn_success:hover{background-image:linear-gradient(to bottom, #0CF, #06F); background-image:-webkit-linear-gradient(to bottom, #0CF, #06F);}
#shopbox .pop_currency{height:30px; float:left; position:relative;}
#shopbox .pop_currency img{width:16px; height:11px; overflow:hidden; margin-right:5px; vertical-align:middle;}
#shopbox .pop_currency .pop_currency_title{padding-right:17px; font:16px/30px Verdana;}
#shopbox .pop_currency .btn_currency{width:70px; overflow:hidden; line-height:25px; padding:3px 10px 3px 12px; text-decoration:none; color:#333; background:#f7f7f7; border:1px #ddd solid; border-radius:5px; -webkit-border-radius:5px; display:inline-block; vertical-align:middle;}
#shopbox .pop_currency .btn_currency em{width:0; height:0; margin-top:11px; float:right; border-bottom:4px #000 solid; border-left:4px transparent solid; border-right:4px transparent solid; display:inline-block; vertical-align:top;}
#shopbox .pop_currency .pop_currency_menu{width:92px; padding:5px 0; background-color:#fff; border:1px #ddd solid; border-bottom:0; border-top-left-radius:5px; border-top-right-radius:5px; position:absolute; bottom:25px; right:0; display:none;}
#shopbox .pop_currency .pop_currency_menu li>a{padding:0 10px 0 12px; line-height:20px; text-decoration:none; color:#333; position:relative; display:block;}
#shopbox .pop_currency .pop_currency_menu li>a:hover{background-color:#e5e5e5;}
#shopbox .pop_open .btn_currency, #shopbox .pop_currency .btn_currency:hover{background:#ebebeb; border-color:#adadad;}
#shopbox .pop_open .pop_currency_menu{display:block; border-color:#adadad;}

/*浮动窗*/
#float_chat{position:fixed; top:150px; z-index:1000;}
#float_chat .inner_chat{min-height:90px;}
#go_top{display:block; height:24px; line-height:24px; color:#fff; text-align:center; font-size:14px;}
#go_top:hover{text-decoration:none;}
.chat_box{margin:0 auto;}
.chat_box>a{display:block; text-decoration:none;}
.chat_box>a>span{display:none;}
.chat_box>a .relimg{width:150px; height:150px; padding:6px; background:#e3e3e3; position:absolute; left:-172px; top:-49px; display:none;}
.chat_box>a .relimg img{max-width:100%; min-height:100%;}
.chat_box>a:hover .relimg{display:block;}
.float_chat_0{width:72px; right:20px; padding:1px; border-radius:5px;}
.float_chat_0 .inner_chat{width:72px; border-radius:5px 5px 0 0; background:#fff;}
.float_chat_0 .chat_box{width:43px; margin-top:15px;}
.float_chat_0 .chat_box>a{width:43px; height:43px; background-image:url(../images/global/chat_0.png); background-repeat:no-repeat;}
.float_chat_0 .chat_box>a.QQ{background-position:center 0;}
.float_chat_0 .chat_box>a.Skype{background-position:center -96px;}
.float_chat_0 .chat_box>a.Email{background-position:center -144px;}
.float_chat_0 .chat_box>a.trademanager{background-position:center -48px;}
.float_chat_0 .chat_box>a.WeChat{background-position:0 -192px; position:relative;}
.float_chat_0 .chat_box div{background:#fff;}
.float_chat_1{width:95px; right:0;}
.float_chat_1 .chat_box>a{width:63px; height:35px; line-height:35px; color:#fff; padding-left:32px; background-image:url(../images/global/chat_1.png); background-repeat:no-repeat;}
.float_chat_1 .chat_box>a>span{width:100%; display:inline-block; text-indent:6px; height:35px; overflow:hidden;}
.float_chat_1 .chat_box>a.QQ{background-position:0 0;}
.float_chat_1 .chat_box>a.QQ>span{background-color:#45a4eb;}
.float_chat_1 .chat_box>a.Skype{background-position:0 -82px;}
.float_chat_1 .chat_box>a.Skype>span{background-color:#66b433;}
.float_chat_1 .chat_box>a.Email{background-position:0 -123px;}
.float_chat_1 .chat_box>a.Email>span{background-color:#186caa;}
.float_chat_1 .chat_box>a.trademanager{background-position:0 -41px;}
.float_chat_1 .chat_box>a.trademanager>span{background-color:#ffc000;}
.float_chat_1 .chat_box>a.WeChat{background-position:0 -164px; position:relative;}
.float_chat_1 .chat_box>a.WeChat>span{background-color:#555;}
.float_chat_1 #go_top{height:35px; line-height:35px; background:url(../images/global/chat_1.png) no-repeat 0px -205px; padding-left:24px;}
.float_chat_1 #go_top span{width:100%; display:inline-block; text-indent:6px; background-color:#ff7200;}
.float_chat_1 #go_top i{width:16px; height:8px; display:inline-block; background:url(../images/global/chat_1.png) no-repeat right -246px;}
.float_chat_2{width:49px; right:20px;}
.float_chat_2 .chat_box{width:49px;}
.float_chat_2 .chat_box>a{width:49px; height:49px; background-image:url(../images/global/chat_2.png); background-repeat:no-repeat;}
.float_chat_2 .chat_box>a.QQ{background-position:center 0;}
.float_chat_2 .chat_box>a.Skype{background-position:center -114px;}
.float_chat_2 .chat_box>a.Email{background-position:center -170px;}
.float_chat_2 .chat_box>a.trademanager{background-position:center -57px;}
.float_chat_2 .chat_box>a.WeChat{background-position:center -227px; position:relative;}
.float_chat_2 #go_top{width:49px; height:49px; background:url(../images/global/chat_2.png) no-repeat center -284px;}
.float_chat_2 #go_top span{display:none;}
.float_chat_3{width:74px; right:20px;}
.float_chat_3 .chat_box{width:74px;}
.float_chat_3 .chat_box .head{height:79px; cursor:pointer; background:url(../images/global/chat_3.png) no-repeat 0 0; margin-bottom:10px;}
.float_chat_3 .chat_box>a{width:40px; height:40px; margin:0 auto; background-image:url(../images/global/chat_3.png); background-repeat:no-repeat;}
.float_chat_3 .chat_box>a.QQ{background-position:-18px -89px;}
.float_chat_3 .chat_box>a.QQ:hover{background-position:-132px -89px;}
.float_chat_3 .chat_box>a.Skype{background-position:-18px -137px;}
.float_chat_3 .chat_box>a.Skype:hover{background-position:-132px -137px;}
.float_chat_3 .chat_box>a.Email{background-position:-18px -233px;}
.float_chat_3 .chat_box>a.Email:hover{background-position:-132px -233px;}
.float_chat_3 .chat_box>a.trademanager{background-position:-18px -184px;}
.float_chat_3 .chat_box>a.trademanager:hover{background-position:-132px -184px;}
.float_chat_3 .chat_box>a.WeChat{background-position:-18px -279px; position:relative;}
.float_chat_3 .chat_box>a.WeChat:hover{background-position:-132px -279px;}
.float_chat_3 #go_top{width:40px; height:40px; margin:0 auto; background:url(../images/global/chat_3.png) no-repeat -18px -325px;}
.float_chat_3 #go_top span{display:none;}
.float_chat_3 #go_top:hover{background-position:-132px -325px;}
.float_chat_4{width:94px; right:20px;}
.float_chat_4 .chat_box{width:94px;}
.float_chat_4 .chat_box .head{height:60px; cursor:pointer; background:url(../images/global/chat_4.png) no-repeat 0 0;}
.float_chat_4 .chat_box>a{width:57px; height:37px; line-height:37px; color:#fff; padding-left:37px; background-image:url(../images/global/chat_4.png); background-repeat:no-repeat;}
.float_chat_4 .chat_box>a>span{width:100%; display:inline-block; text-indent:6px; height:37px; overflow:hidden;}
.float_chat_4 .chat_box>a.QQ{background-position:0px -60px;}
.float_chat_4 .chat_box>a.Skype{background-position:0px -149px;}
.float_chat_4 .chat_box>a.Email{background-position:0px -194px;}
.float_chat_4 .chat_box>a.trademanager{background-position:0px -105px;}
.float_chat_4 .chat_box>a.WeChat{background-position:0px -238px; position:relative;}
.float_chat_4 #go_top{width:57px; height:37px; padding-left:37px; background:url(../images/global/chat_4.png) no-repeat 0 -282px;}
.float_chat_4 #go_top span{display:none;}

/*编辑器内容还原默认样式 Start*/
.editor_txt{padding:10px 20px; overflow:hidden; line-height:1.6; min-height:500px; _height:500px; background:#fff;}/* font-size:16px; font-family:sans-serif, Arial, Verdana, "Trebuchet MS";*/
.editor_txt *{font-family:inherit;}/*兼容子级span的字体被顶级字体所覆盖*/
.editor_txt p{margin:5px 0;}
.editor_txt h1, .editor_txt h2, .editor_txt h3, .editor_txt h4, .editor_txt h5, .editor_txt h6{font-weight:normal; line-height:1.2; margin:.67em 0;}
.editor_txt b, .editor_txt strong{font-weight:bold; line-height:1.2;}
.editor_txt h1{font-size:2em;}
.editor_txt h2{font-size:1.5em;}
.editor_txt h3{font-size:1.17em;}
.editor_txt h4{font-size:1em; margin:1.33em 0;}
.editor_txt h5{font-size:0.83em;}
.editor_txt h6{font-size:0.67em;}
.editor_txt li{list-style-type:inherit;}
.editor_txt li p{display:inline-block;}
.editor_txt i, .editor_txt cite, .editor_txt em{font-style:italic;}
.editor_txt span, .editor_txt strong{color:inherit; font-size:inherit; font-family:inherit;}

.editor_txt .selectTdClass{background-color:#edf5fa!important;}
.editor_txt table.noBorderTable td, .editor_txt table.noBorderTable th, .editor_txt table.noBorderTable caption{border:1px #ddd dashed!important;}
.editor_txt table{border-collapse:collapse; display:table;}
.editor_txt caption{border:1px #ddd dashed; border-bottom:0; padding:3px; text-align:center;}
.editor_txt th{border-top:1px #bbb solid; background-color:#f7f7f7;}
.editor_txt table tr.firstRow th{border-top-width:2px;}
.editor_txt .ue-table-interlace-color-single{background-color:#fcfcfc;}
.editor_txt .ue-table-interlace-color-double{background-color:#f7faff;}
.editor_txt td p{margin:0;padding:0;}

.editor_txt .pagebreak{display:block; clear:both!important; cursor:default!important; width:100%!important; margin:0;}
.editor_txt pre{margin:.5em 0; padding:.4em .6em; border-radius:8px; background:#f8f8f8;}
.editor_txt u{text-decoration:underline;}

/*防止百度地图的图片被弄乱没有效果*/
#dituContent img{max-width:inherit; max-height:inherit;}
/*编辑器内容还原默认样式 End*/
/*************************** 全局 end ***************************/

/*************************** 头部 start ***************************/
/*货币*/
.wide .currency{width:50px;}
.wide .currency a{display:block; height:18px; line-height:18px; overflow:hidden;}
.wide .currency img{width:16px; height:11px; overflow:hidden; margin-right:5px;}

/*语言*/
.wide .btn_language{cursor:pointer;}
.wide .btn_language:hover{text-decoration:underline;}
.wide .language{width:86px;}
.wide .language a{display:block; height:21px; line-height:21px; overflow:hidden;}
.wide .language img{width:16px; height:11px; overflow:hidden; margin-right:5px;}
/*************************** 头部 end ***************************/

/*************************** 底部 start ***************************/
.partners_box a{margin:5px; display:inline-block;}
.partners_box img{max-width:200px; max-height:80px; margin:0 8px; vertical-align:middle;}
/*************************** 底部 end ***************************/

/*************************** 单页/文章页 start ***************************/
.side_left{width:210px;}
.side_right{width:720px;}

.help_menu{width:210px; background:#fff; border:1px #ebebeb solid;}
.help_menu .help_title{line-height:140%; background:#f4f4f4; color:#333; font-size:14px; padding:4px 0 4px 13px;}
.help_menu .help_list{padding:0 3px;}
.help_menu .help_list li{line-height:150%; border-bottom:1px #e5e5e5 dashed; padding:6px 11px;}
.help_menu .help_list li>a{display:block;}
.help_menu a.current{font-weight:bold;}

.right_main{border:1px #ebebeb solid;}
.main_title{height:28px; line-height:28px; border-bottom:1px #ececec solid; background:#f4f4f4; color:#333; padding-left:20px; font-size:14px;}
.main_content{padding:10px; min-height:300px;}

.info_list li{height:30px; line-height:30px; overflow:hidden; padding:0 6px; border-bottom:1px #ececec dashed;}
.info_list li .time{float:right;}
/*************************** 单页/文章页 end ***************************/

/*************************** 产品列表页 start ***************************/
.sort_icon_popular{background:url(../images/global/normal.png) no-repeat -140px -117px;}
.sort_icon_sales{background:url(../images/global/normal.png) no-repeat -211px -116px;}
.sort_icon_favorites{background:url(../images/global/normal.png) no-repeat -395px -117px;}
.sort_icon_new{background:url(../images/global/normal.png) no-repeat -280px -116px;}
.sort_icon_price{background:url(../images/global/normal.png) no-repeat -372px -116px;}
.sort_icon_arrow{background:url(../images/global/normal.png) no-repeat -461px -24px;}
.sort_icon_arrow_down{background:url(../images/global/normal.png) no-repeat -442px -24px; margin-bottom:3px;}
.sort_icon_arrow_up{background:url(../images/global/normal.png) no-repeat -487px -116px; margin-bottom:3px;}

/*左侧属性筛选*/
.narrow_by{margin-top:12px;}
.narrow_by .cate_title{height:23px; line-height:23px; position:relative; font-size:12px; border-bottom-width:2px; border-bottom-style:solid;}
.narrow_by .cate_title .clear_all{position:absolute; top:4px; right:0; color:#666; line-height:18px; padding:2px 0;}
.narrow_by dl{border-bottom:1px #ddd solid; padding-bottom:10px;}
.narrow_by dt{position:relative; line-height:18px; cursor:pointer; padding:4px 0 4px 16px; width:222px; height:auto;}
.narrow_by dt em{width:0; height:0; border-left:4px transparent solid; border-right:4px transparent solid; border-top-width:5px; border-top-style:solid; position:absolute; left:0; top:11px;}
.narrow_by dd a{padding:3px 0 2px; width:238px; height:auto; display:block; text-decoration:none; line-height:18px;}
.narrow_by dd a:hover{background-color:#e9e9e9;}
.narrow_by dd a em, .narrow_by dd a span{display:inline-block; vertical-align:middle;}
.narrow_by dd a .ns_icon_checkbox{margin-right:3px; width:12px; height:12px; background-image:url(../images/global/normal.png); background-repeat:no-repeat; background-position:-347px -24px;}
.narrow_by dd a.current .ns_icon_checkbox{background-position:-325px -24px;}
.narrow_by dd a.current:hover .ns_icon_checkbox{background-position:-369px -24px;}
.narrow_by dd a i{padding-left:3px; color:#999; font-size:11px;}

/*分类介绍*/
#category_brief{margin-bottom:30px; padding:0; min-height:inherit; _height:inherit;}

/*右侧属性筛选*/
.narrow_search{margin-bottom:10px;}
.narrow_search .ns_title{padding:5px 0; background:#f7f7f7; margin-bottom:1px; position:relative;}
.narrow_search .ns_title h2{line-height:18px; padding:2px 10px 3px 0; float:left; margin-left:24px; font-size:14px; font-weight:bold;}
.narrow_search .ns_title p{color:#fff; vertical-align:top; line-height:20px; margin:0 110px 0 0;}
.narrow_search .ns_title p a{display:inline-block; margin:0 5px 3px 0; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.narrow_search .ns_title p span{padding:0 5px; height:20px; line-height:20px; cursor:pointer; vertical-align:middle; text-decoration:none; display:inline-block;}
.narrow_search .ns_title p em{width:18px; height:20px; display:inline-block; vertical-align:middle; background:url(../images/global/normal.png) no-repeat -486px -20px;}
.narrow_search .ns_title p .remove_all{position:absolute; right:5px; top:6px;}
.ns_list{background:#f7f7f7; padding:0 6px 0 17px; margin-bottom:20px;}
.ns_list dl{margin-top:1px; padding:4px 0 5px; border-top:1px #ddd dashed;}
.ns_list dl:first-child{border-top:0;}
.ns_list dt{width:116px; float:left; margin-left:7px; white-space:nowrap; padding:5px 0 7px;}
.ns_list dd{margin-left:123px;}
.ns_list dd a{display:inline-block; padding:5px 10px; color:#333; text-decoration:none; font-size:12px; line-height:14px;}
.ns_list dd a:hover{background-color:#e9e9e9;}
.ns_list dd a em, .ns_list dd a span{display:inline-block; vertical-align:middle;}
.ns_list dd a .ns_icon_checkbox{margin-right:3px; width:12px; height:12px; background-image:url(../images/global/normal.png); background-repeat:no-repeat; background-position:-347px -24px;}
.ns_list dd a.current .ns_icon_checkbox{background-position:-325px -24px;}
.ns_list dd a.current:hover .ns_icon_checkbox{background-position:-369px -24px;}
.prop_more{position:relative; border-top:1px #ddd solid; margin-bottom:34px; height:0; overflow:visible; text-align:center;}
.prop_more .attr_extra{height:24px; line-height:20px; margin-top:-1px; background:#f7f7f7; border:1px #ddd solid; padding:0 15px 0 32px; display:inline-block; cursor:pointer; border-top:0; color:#000; position:relative;}
.prop_more .attr_extra b{width:13px; height:11px; background:url(../images/global/normal.png) no-repeat -541px -179px; position:absolute; left:10px; top:5px; display:block;}
.prop_more .attr_extra b.up{background-position:-541px -150px;}

/*其他属性筛选*/
#filter{border:1px #d4d4d4 solid; height:39px; background:#f5f5f5;}
.prod_sort{line-height:39px;}
.prod_sort a{display:block; float:left; border-right:1px #ddd solid; padding:0 8px; text-decoration:none; font-size:13px;}
.prod_sort a.cur{background:#fff; color:#005cac;}
.prod_sort em, .prod_sort i{vertical-align:middle; display:inline-block;}
.prod_sort em{width:14px; height:13px; margin-right:2px;}
.prod_sort i{width:9px; height:11px; margin-left:7px;}
.prod_price{padding:7px 0 0 10px;}
.prod_price .pp_inputbox{display:inline-block; width:57px; height:21px; padding:2px 0 0 5px; border:1px #ddd solid; background:#fff; border-radius:3px; -ms-border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.prod_price input{display:inline-block; width:32px; height:19px; line-height:19px; border:0; color:#333; background:#fff; outline:0;}
.prod_price .pp_btn{display:inline-block; border:1px #ddd solid; background:#eee; cursor:default; width:40px; height:23px; font-weight:bold; border-radius:3px; -ms-border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.prod_price .pp_btn:hover{background:#f3f3f3;}
.prod_menu{float:right; height:39px; border-left:1px #d4d4d4 solid;}
.prod_menu *{text-decoration:none; color:#333;}
.prod_menu .page{width:70px; float:left; text-align:center; position:relative;}
.prod_menu .page .cur{height:39px; line-height:39px; cursor:pointer;}
.prod_menu .page ul{width:150px; float:left; max-height:260px; overflow:auto; background:#fff; display:none; position:absolute; right:-1px; top:39px; border:1px #d4d4d4 solid; z-index:1000;}
.prod_menu .page ul li{height:28px; line-height:28px; font-size:12px;}
.prod_menu .page:hover ul{display:block;}
.prod_menu .page:hover ul li a{display:block;}
.prod_menu .page:hover ul li:hover{background:#f7f7f7;}
.prod_menu .page_item{width:39px; height:39px; display:none; float:left; text-align:center; background:url(../images/global/normal.png) no-repeat;}
.prod_menu .pre{background-position:-722px -213px; border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7;}
.prod_menu .next{background-position:-772px -213px;}

/*产品框和产品效果*/
.prod_box{position:relative;}
.prod_box .prod_box_pic{overflow:hidden;}
.prod_box .prod_name{line-height:18px;}
.prod_box .prod_price, .pro_item .prod_price *{font-size:14px; font-weight:bold;}
.prod_box .free_shipping{font-size:12px; font-weight:bold; line-height:14px; height:14px; margin-top:8px;}
.prod_box .favorite{display:inline-block; margin-left:5px; cursor:pointer; line-height:99%;}
.prod_box .favorite:hover{color:#cb2027;}
.prod_box .review_count{font-size:11px; margin-left:2px;}
.prod_box .review_count:hover{color:#cb2027;}

/*订单直播*/
.order_live{border:1px #e6e6e6 solid; background:#fff;}
.order_live .order_live_hd{height:35px; line-height:35px; padding:0 10px; font-size:15px;}
.order_live .order_live_bd{height:300px; padding:0 10px; overflow:hidden;}
.order_live .order_live_bd li{line-height:160%; padding:5px 0; border-bottom:1px #e6e6e6 dashed;}
/*************************** 产品列表页 end ***************************/

/*************************** 产品详细页 start ***************************/
.widget{*zoom:1;}
.widget:before, .widget:after{display:table; content:""; line-height:0;}
.widget:after{clear:both;}

.icon_data_0{width:12px; height:13px; background:url(../images/global/goods.png) no-repeat -6px -10px;}
.icon_data_1{width:16px; height:13px; background:url(../images/global/goods.png) no-repeat -30px -10px;}
.icon_data_2{width:12px; height:13px; background:url(../images/global/goods.png) no-repeat -58px -10px;}
.icon_pdf{width:16px; height:20px; background:url(../images/global/goods.png) no-repeat -80px -10px;}
.icon_left_arraw{width:21px; height:19px; background:url(../images/global/normal.png) no-repeat -595px -70px; display:inline-block; vertical-align:top;}
.icon_right_arraw{width:21px; height:19px; background:url(../images/global/normal.png) no-repeat -529px -70px; display:inline-block; vertical-align:top;}

.share_toolbox{float:right;}
.share_toolbox li{display:inline-block; position:relative; z-index:99;}
.share_toolbox li>a{width:16px; height:16px; overflow:hidden; text-indent:999px; background-image:url(../images/global/share_small.png); background-repeat:no-repeat; background-color:transparent; border:0; cursor:pointer; border-radius:50%; display:inline-block; transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out;}
.share_toolbox li>a:hover{transform:translateY(-4px); -webkit-transform:translateY(-4px);}
.share_toolbox li:last-child>a:hover{transform:none; -webkit-transform:none;}
.share_toolbox li:hover .share_hover{display:block;}
.share_toolbox .share_hover{min-width:130px; border:1px #d5d6d6 solid; box-shadow:1px 1px 5px rgba(0,0,0,.15); background-color:#fff; position:absolute; top:16px; right:0; display:none;}
.share_toolbox .share_hover>a{padding:4px 10px; color:#235dab; font-weight:400; text-decoration:none; display:block;}
.share_toolbox .share_hover>a>i{width:16px; height:16px; overflow:hidden; background-image:url(../images/global/share_small.png); background-repeat:no-repeat; background-color:transparent; border:0; cursor:pointer; border-radius:50%; display:inline-block; vertical-align:middle;}
.share_toolbox .share_hover>a>span{margin-left:5px; display:inline-block; vertical-align:middle;}
.share_toolbox .share_hover>a:hover{color:#fff; background-color:#2095f0;}
.share_s_facebook{background-position:0 0;}
.share_s_google{background-position:-16px -33px;}
.share_s_twitter{background-position:-16px 0;}
.share_s_vk{background-position:-33px -33px;}
.share_s_linkedin{background-position:-33px 0;}
.share_s_googleplus{background-position:-48px 0;}
.share_s_digg{background-position:-33px -16px;}
.share_s_reddit{background-position:-48px -16px;}
.share_s_stumbleupon{background-position:0 -33px;}
.share_s_delicious{background-position:-16px -16px;}
.share_s_pinterest{background-position:0 -16px;}
.share_s_more{background-position:-48px -33px;}

.prod_info_data{padding-bottom:10px;}
.prod_info_data li{float:left; margin-right:35px; line-height:13px; margin-bottom:5px;}
.prod_info_data li>em{display:inline-block; vertical-align:top;}
.prod_info_data li>a{margin-left:5px;}

.prod_info_form .attributes{margin:0 0 9px -11px; padding:0 0 9px 9px; border:2px #fff solid;}
.prod_info_form .attr_sure{min-height:16px; line-height:16px; overflow:hidden; margin-left:-9px; padding:7px 0 7px 11px; background-color:#f8f8f8; display:none;}
.prod_info_form .attr_sure .attr_sure_choice{color:#666;}
.prod_info_form .attr_sure .attr_sure_close{padding-right:9px; font-size:14px; font-weight:600; color:#e90b0b; cursor:pointer; float:right; display:inline-block;}
.prod_info_form .attributes_tips{border-color:#e90b0b!important;}
.prod_info_form .attributes_tips .attr_sure{display:block;}
.prod_info_form li{padding:4px 0; font-size:12px;}
.prod_info_form li input, .prod_info_form li select{width:184px; height:28px; line-height:28px; font-size:12px; margin-bottom:0;}
.prod_info_form li select{border:1px #ccc solid; background:#fff; padding:4px 6px; color:#8d8d8d; border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; vertical-align:middle;}
.prod_info_form li.attr_show h5{color:#333; padding-bottom:1px; line-height:20px; font-weight:bold;}
.prod_info_form li.attr_show>span{border-width:1px; border-style:solid; display:inline-block; line-height:30px; padding:0 7px; margin:3px 2px 2px 0; white-space:nowrap; cursor:pointer; position:relative; background:#fff; vertical-align:middle;}
.prod_info_form li.attr_show>span .attr_pic{width:30px; height:30px; display:inline-block; padding:1px 0; text-align:center;}
.prod_info_form li.attr_show>span em{position:absolute; right:0; bottom:0; display:none;}
.prod_info_form li.attr_show>span .icon_selected{width:11px; height:11px; background:url(../images/global/icon_selected.png) no-repeat; z-index:1;}
.prod_info_form li.attr_show>span .icon_selected_bg{width:0; height:0; border-left:11px transparent solid; z-index:0; border-bottom-width:11px; border-bottom-style:solid;}
.prod_info_form li.attr_show>span:hover, .prod_info_form li.attr_show>span.selected{border-width:2px; border-style:solid; line-height:28px; padding:0 6px; color:#000;}
.prod_info_form li.attr_show>span:hover em, .prod_info_form li.attr_show>span.selected em{display:block;}
.prod_info_form li.attr_show>span:hover .attr_pic, .prod_info_form li.attr_show>span.selected .attr_pic{padding:0;}
.prod_info_form li.attr_show>span.out_stock{border:1px #d6d6d6 dashed; color:#ccc; cursor:not-allowed;}
.prod_info_form li.attr_show>span.out_stock:hover{padding:1px 7px;}
.prod_info_form li.attr_show>span.out_stock:hover em{display:none;}

.key_info_line{font-size:13px; color:#333; padding:5px 0;}
.key_info_left{float:left; width:105px; text-align:right; padding-right:10px;}
.key_info_right{float:left; min-width:276px; _width:276px; max-width:378px;}
.shipping_cost_detail{padding-bottom:4px; font-size:14px; color:#000;}
.shipping_cost_detail .shipping_cost_button{color:#333; cursor:pointer; white-space:nowrap; background:url(../../../images/global/header_cart_hover.png) no-repeat right 6px;}
.shipping_cost_detail .shipping_cost_button:hover{text-decoration:underline;}
.shipping_cost_info{color:#999;}
.shipping_cost_info .delivery_day{margin-left:5px; color:#f60;}

.group_promotion{margin:15px 0 10px;}
.group_promotion .gp_title{font-size:14px; height:30px; line-height:30px; overflow:visible; border:1px #ddd solid; border-top:2px #c7c7c7 solid; background:#f7f7f7;}
.group_promotion .gp_title ul{margin-left:-1px;}
.group_promotion .gp_title li{float:left; text-align:center;}
.group_promotion .gp_title li span{height:30px; line-height:28px; padding:0 13px; text-align:center; display:block; cursor:pointer;}
.group_promotion .gp_title li.current{border-top-width:2px; border-top-style:solid; background:#fff; margin-top:-6px;}
.group_promotion .gp_title li.current span{height:35px; line-height:35px; padding:0 12px; border-left:1px #ddd solid; border-right:1px #ddd solid; cursor:default;}
.group_promotion .gp_list{border:1px #ddd solid; border-top:0;}
.group_promotion .gp_list>div{padding:10px 0;}
.group_promotion .prod_img{width:100px; height:100px; overflow:hidden; text-align:left;}
.group_promotion .prod_name{word-break:break-all; word-wrap:break-word; overflow:hidden; height:34px; line-height:140%;}
.group_promotion .prod_price{padding:0; font-size:14px; font-weight:bold;}
.group_promotion .prod_price input{width:auto; height:auto; float:left; margin:3px 3px 0;}
.group_promotion .prod_price .PriceColor{float:left;}
.group_promotion .prod_qty{margin-top:3px;}
.group_promotion .attribute{padding-top:5px;}
.group_promotion .attribute dd{margin-bottom:3px; display:block;}
.group_promotion .attribute select{width:100px;}
.group_promotion .info{float:left; width:230px; line-height:20px; padding-left:10px; padding-top:15px;}
.group_promotion .info s{float:left; display:inline; width:24px; height:22px; margin-top:25px; background:url(../images/global/goods.png) no-repeat -7px -177px;}
.group_promotion .info .prod_name, .group_promotion .info .prod_price, .group_promotion .info .prod_saving{margin-left:35px; margin-bottom:10px; padding:0;}
.group_promotion .info .prod_name{margin-top:10px; height:20px;}
.group_promotion .info .group_curprice{color:#f28810;}
.group_promotion .info .group_curprice .price_data{font-size:16px;}
.group_promotion .info .gp_btn{height:29px; line-height:29px; margin-left:35px; margin-right:16px; padding:0 15px; font-size:14px; color:#fff; cursor:pointer; background:#f28810; border:0; border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; display:inline-block;}
.group_promotion .master{float:left; width:150px; padding-left:20px; overflow:hidden;}
.group_promotion .master>s{float:right; display:inline; width:24px; height:22px; margin-top:40px; margin-right:16px; background:url(../images/global/goods.png) no-repeat -7px -142px;}
.group_promotion .suits{float:left; padding-bottom:10px; overflow-x:hidden; width:525px; position:relative;}
.group_promotion .suits ul{width:1858px;}
.group_promotion .suits li{float:left; width:134px; padding:0 5px;}
.group_promotion .master .prod_name, .group_promotion .suits .prod_name{width:134px;}

.prod_description .desc{min-height:300px; _height:300px;}
.prod_description .desc img{max-height:none; vertical-align:middle;}
.prod_description .desc strong{font-weight:bold;}
.prod_description .desc em{font-style:italic;}
.prod_description .desc li{list-style-type:inherit; list-style-position:outside;}

.pd_content{padding:10px 0; overflow:hidden;}
.pd_content p{margin:5px 0;}
.pd_content h1, .pd_content h2, .pd_content h3, .pd_content h4, .pd_content h5, .pd_content h6, .pd_content b, .pd_content strong{font-weight:bold;}
.pd_content h4{margin:1.33em 0;}
.pd_content li{margin-left:30px;}
.pd_content i, .pd_content cite, .pd_content em{font-style:italic;}
.pd_content td, .pd_content th{padding:5px 10px; }
.pd_content big, .pd_content small, .pd_content sub, .pd_content sup{color:inherit;}

.item_specifics{padding:10px; border-bottom:1px #ddd solid; margin-bottom:10px;}
.item_specifics .title{margin-bottom:6px; font-size:16px; font-weight:bold; color:#666;}
.item_specifics span{display:block; padding:3px 0 3px 20px;}
.item_specifics strong{margin-right:8px; font-weight:bold;}
.export_pdf{visibility:hidden;}

#may_like .b_title{height:35px; line-height:35px; color:#666; font-size:14px; text-indent:6px;}
#may_like .b_list .pro_item{border-bottom:1px #ddd solid; padding:10px;}
#may_like .b_list .pro_item:hover{background:#f7f7f7;}
#may_like .b_list dt{width:94px; height:94px;/* margin-left:15px;*/ text-align:center; vertical-align:middle;}
#may_like .b_list dt img{max-width:100%; max-height:100%;}
#may_like .b_list .pro_info{width:165px; margin-left:10px; overflow:hidden;}
#may_like .b_list .pro_name, #may_like .b_list .pro_price{padding-top:6px;}
#may_like .b_list .last{border-bottom:0;}

/**** 运费查询 Start ****/
#shipping_cost_choose{position:fixed; opacity:0.95; z-index:100000; top:20%;}
#shipping_cost_choose .box_bg{width:100%; height:100%; background-color:#fff; position:absolute; top:0; left:0; -moz-box-shadow:0px 0px 20px #000; -webkit-box-shadow:0px 0px 20px #000; box-shadow:0px 0px 20px #000; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}

#choose_close{top:10px; right:-5px; width:40px; height:26px; font-size:30px; color:#000; opacity:0.2; filter:alpha(opacity=20); text-decoration:none; font-family:Helvetica; font-weight:bold; position:absolute; z-index:100000;}
#choose_close:hover{color:#000000; text-decoration:none; cursor:pointer; opacity:0.4; filter:alpha(opacity=40);}

#choose_content{width:400px; padding:20px; padding-bottom:0px; position:relative; z-index:10; zoom:1; background-color:#fff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -webkit-background-clip:padding-box; -moz-background-clip:padding-box; background-clip:padding-box;}
#choose_content label{font:14px/100% Verdana, Arial, Helvetica, sans-serif; display:block; padding-bottom:12px; color:#333; line-height:18px;}
#choose_content ul{margin-top:16px;}
#choose_content li{padding:8px 0;}
#choose_content li label{ padding:0; font:inherit;}
#choose_content li strong{font:14px/100% Verdana, Arial, Helvetica, sans-serif; display:inline-block; padding-right:10px; color:#000;}
#choose_content li span{display:inline-block; padding-right:8px; color:#666;}
#choose_content li span.price{color:#c70000; font-family:Verdana;}
#choose_content .footRegion{-webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px; padding:14px 19px 15px; margin:15px 0 0 -19px; background-color:whiteSmoke; border-top:1px solid #ddd; -webkit-box-shadow:inset 0 1px 0 #ffffff; -moz-box-shadow:inset 0 1px 0 #ffffff; box-shadow:inset 0 1px 0 #ffffff; width:100%;}
#choose_content .footRegion .btn{min-width:70px; display:inline-block; padding:4px 10px 4px; margin-bottom:0; font-size:13px; line-height:18px; color:#ffffff; text-align:center; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); vertical-align:middle; background-repeat:repeat-x; border:1px solid #cccccc; border-bottom-color:#b3b3b3; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor:pointer;}
#choose_content .footRegion .btn:hover{color:#333333; text-decoration:none; background-color:#e6e6e6; background-position:0 -15px; -webkit-transition:background-position 0.1s linear; -moz-transition:background-position 0.1s linear; -ms-transition:background-position 0.1s linear; -o-transition:background-position 0.1s linear; transition:background-position 0.1s linear;}
#choose_content .footRegion .btn-success{background-color:#da4f49; background-image:-ms-linear-gradient(top, #ee5f5b, #bd362f); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)); background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f); background-image:-o-linear-gradient(top, #ee5f5b, #bd362f); background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f); background-image:linear-gradient(top, #ee5f5b, #bd362f); border-color:#bd362f #bd362f #802420; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); margin-right:20px;}
#choose_content .footRegion .btn-success:hover{background-color:#bd362f; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); color:#ffffff;}
#choose_content .cart_view{padding:15px 0 6px; font-size:14px;}
#choose_content .cart_view p{min-height:37px; margin:0 0 10px; padding-left:45px; line-height:34px; background:url(../images/global/normal.png) no-repeat -597px -145px;}
#choose_content .cart_view .consumption{line-height:20px; margin-top:15px; padding:5px 10px; background-color:#ffa; border:1px #c00 dashed;}
#choose_content .cart_view .consumption>span{font-size:16px;}
/**** 运费查询 End ****/
/*************************** 产品详细页 end ***************************/

/*************************** 产品评论页 start ***************************/
.review_left{width:670px;}
.review_right{width:299px;}

#review_box{margin-top:30px;}
.prod_write_review .review_title{height:36px; border-bottom:1px #ddd solid;}
.prod_write_review .review_title span{height:36px; line-height:36px; border:1px #ddd solid; border-bottom:0; border-top-left-radius:4px; border-top-right-radius:4px; background:#fff; float:left; padding:0 20px; font-size:14px; color:#333; text-decoration:none; display:block; cursor:default;}
.prod_write_review .review_main{padding:35px 0;}
.prod_write_review .review_main_box{width:290px; height:123px; padding-left:50px; border-left:1px #ddd solid; float:left;}
.prod_write_review .average_rating{color:#999; border:0;}
.prod_write_review .average_rating h6{font-size:14px; color:#333;}
.prod_write_review .average_rating .star{margin-top:8px;}
.prod_write_review .average_rating p{margin-top:8px;}
.prod_write_review .average_rating strong{margin-right:5px; font-size:14px; font-weight:bold; color:#900; display:inline-block; vertical-align:middle;}
.prod_write_review .average_rating .review_nums{color:#666; vertical-align:middle;}
.prod_write_review .histogram_list>li{height:15px; line-height:15px; margin-bottom:12px;}
.prod_write_review .histogram_list>li>a:hover .name, .prod_write_review .histogram_list>li>a:hover .count{text-decoration:underline;}
.prod_write_review .histogram_list>li span{display:inline-block; vertical-align:top;}
.prod_write_review .histogram_list>li .name{padding-right:8px;}
.prod_write_review .histogram_list>li .size_base{width:150px; height:15px; background-color:#eee;}
.prod_write_review .histogram_list>li .size_base .meter{width:0; height:15px; background-color:#ffc322; float:left;}
.prod_write_review .histogram_list>li .count{padding-left:8px;}
.prod_write_review .review_write{padding-left:0; text-align:center;}
.prod_write_review .review_write div{margin:12px 0;}
.prod_write_review .review_write .write_review_btn{border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:0 15px; height:29px; line-height:29px; color:#fff; display:inline-block; cursor:pointer; font-size:14px; text-decoration:none;}
.prod_review_filter{margin-bottom:12px; padding-left:10px; background-color:#fafafa; border:1px #f7f7f7 solid;}
.prod_review_filter .filtering>li{padding:5px 10px; display:inline-block;}
.prod_review_filter .filtering>li label{cursor:pointer;}
.prod_review_filter .filtering>li input{cursor:pointer; vertical-align:middle;}
.prod_review_filter .filtering>li span{margin-left:6px; cursor:pointer;}

.prod_write_review_side .review_main_box{width:220px; padding-left:23px;}
.prod_write_review_side .average_rating{width:180px;}
.prod_write_review_side .histogram_list>li .size_base{width:120px;}
.prod_write_review_side .review_write{padding-left:0;}

.prod_recent_review{min-height:300px; overflow:hidden; margin-bottom:30px; border-top:1px #ddd solid;}

.content_blank{padding:30px 0; text-align:center; font-size:16px; color:#929292;}
.content_more{padding:30px 0; text-align:center;}

.review_item{border-top:1px #ddd solid; min-height:100px; padding:10px 10px 0 10px; margin-bottom:10px; position:relative;}
.review_item .user{width:172px; font-size:11px; line-height:20px;}
.review_item .user .by_text{color:#999; margin-right:5px;}
.review_item .user .icon_level{display:inline-block; width:22px; height:19px; vertical-align:top; overflow:hidden;}
.review_item .user .level_text{display:inline-block; max-width:100px; overflow:hidden; word-break:break-word;}
.review_item .user .time{color:#999;}
.review_item .like{width:205px; text-align:right;}
.review_item .review_main{width:auto; overflow:hidden; padding-left:18px; font-size:12px;}
.review_item .review_main .content{margin-bottom:10px;}
.review_item .review_main .pic_list{margin:10px 0;}
.review_item .review_main .pic_list>a{width:40px; height:40px; overflow:hidden; margin-right:10px; text-align:center; cursor:pointer; border:1px #ddd solid; float:left; display:inline;}
.review_item .review_main .pic_list>a>img{width:100%; max-height:inherit;}
.review_item .review_main .reply{margin-top:10px;}
.review_item .review_main .edit{margin-bottom:10px;}
.review_item .review_main .reply_btn{height:23px; line-height:23px; padding:0 8px; text-decoration:none; font-size:12px; color:#333; cursor:pointer; border:1px #ccc solid; border-radius:2px; -ms-border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; display:inline-block;}
.review_item .review_main .reply_btn>span{color:#aaa;}
.review_item .textarea_holder{border:1px #ccc solid; padding:3px; margin:5px 0;}
.review_item .textarea_holder textarea{width:100%; border:0; resize:vertical; background:none; outline:0; color:#999;}
.review_item .textarea_holder .error{margin:5px 0;}
.review_item .btn{width:134px; height:26px; line-height:22px; font-size:14px; margin-left:20px; cursor:pointer; background:#FDEFB7; border:1px #d0af76 solid; color:#963;}
.review_item .textbtn{width:60px; margin:5px 0 0; font-size:12px;}
.review_item .fb_share{position:absolute; right:10px; bottom:0; font-size:11px; height:20px; line-height:20px;}
.review_item .fb_share em{display:inline-block; vertical-align:top;}
.review_item:first-child{border:0;}

.w_review_replys{padding-top:10px; position:relative; margin-top:10px;}
.w_review_replys .arrow{position:absolute; width:22px; height:11px; top:6px; left:30px; z-index:1; display:block; background:url(../images/global/sprite_arrow.png);}
.w_review_replys .review_reply{border:1px #ccc solid; background:#f7f7f7; padding:8px; margin-top:6px; position:relative;}
.w_review_replys .review_reply p{margin:0 5px;}
.w_review_replys .review_reply p.writer{margin:5px;}
.w_review_replys .review_reply .light_gray{color:#999;}
.w_review_replys .review_reply .replier{font-weight:bold;}

.prod_review_more{margin-top:30px;}
.prod_review_more .customer_btn{height:50px; line-height:50px; text-align:center; font-size:14px; font-weight:bold; color:#333; border-top:1px #ddd solid; background-color:#f9f9f9; display:block;}
.prod_review_more .customer_btn:hover{text-decoration:none; color:#f56908;}

.prod_review_view .review_sign{height:30px; line-height:30px; text-align:center; font-size:14px; color:#666;}
.prod_review_view .review_sign>a{color:#c00; outline:0; font-weight:bold;}

.icon_agree, .icon_oppose{width:20px; height:20px; line-height:20px; display:inline-block; padding-left:18px;}
.icon_agree{background:url(../images/global/normal.png) no-repeat -684px -21px;}
.icon_oppose{background:url(../images/global/normal.png) no-repeat -519px -20px;}
.icon_facebook_mini{width:19px; height:19px; background:url(../images/global/normal.png) no-repeat -481px -71px;}

#pro_detail #may_like{margin:0; padding:0;}

.pop_search{padding:5px 10px; line-height:180%;}
.pop_search a{word-break:keep-all; white-space:nowrap;}

.goods_view{padding:15px;}
.goods_view dt{width:130px; height:130px; vertical-align:middle; text-align:center;}
.goods_view dt img{max-width:100%; max-height:100%;}
.goods_view dd{width:198px; margin-left:133px;}
.goods_view p{margin:0;}
.goods_view .name{font-size:14px; line-height:19px; padding-bottom:20px;}
.goods_view .old_price{text-decoration:line-through; font-size:13px; padding-bottom:4px;}
.goods_view .price{font-size:14px; font-weight:bold;}
.goods_view .rating{font-size:14px; margin:8px 0 6px;}
.goods_view .score{font-size:16px; vertical-align:sub; margin:0 5px;}

.review_goods .goods_title{color:#f56908; font:16px Georgia; border-bottom:1px #ccc solid; padding:10px 0 10px 10px;}
.review_goods .goods_view dd{width:620px;}

#pro_review{padding:11px 0 20px 0; background:#fff;}
#pro_review .left{width:620px;}
#pro_review .right{width:350px;}
#pro_review .title{color:#f56908; font:16px Georgia; margin:10px 0 20px; border-bottom:1px #ccc solid; padding:0 0 10px 10px;}
#pro_review .error{text-align:center; font-size:14px; margin:50px 30px; line-height:150%;}
#pro_review .error>a{font-weight:bold;}
#pro_review .info_title{font-size:14px; font-weight:bold; padding:10px 0;}
#pro_review .goods_view{border:1px #ccc solid;}
#review_form h4{font-size:14px; font-weight:bold;}
#review_form h4 .error_info{font-weight:normal;}
#review_form label{display:block; padding:5px 0; margin-top:10px; font-weight:bold; font-size:14px;}
#review_form .rating li{padding:5px 0; clear:both; min-height:19px; line-height:160%;}
#review_form .rating b{width:100px; line-height:19px; float:left; text-align:right;}
#review_form .rating span{float:left; margin-left:10px;}
#review_form .rating .error_info{float:left; margin-left:10px;}
#review_form .review_text, #review_form .review_content{width:680px; padding:1px; resize:vertical; overflow-y:auto;}
#review_form .review_text{height:30px; line-height:30px;}
#review_form .review_content{height:210px;}
#review_form .upfile_condition{margin:0 0 10px 0;}
#review_form .button{width:106px; height:30px; line-height:30px; color:#fff; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; background:#ff9900; border:0; font-size:14px; cursor:pointer;}
/*************************** 产品评论页 end ***************************/

/*404*/
#error_page{background:#f0f0f0; padding:150px 0;}
#error_page .sw{min-width:558px; max-width:645px; margin:0 auto;}
#error_page .error_logo{background:url(../images/global/error_logo.jpg) no-repeat center center; height:225px;}
#error_page .error_warning{margin-top:12px; height:30px; line-height:30px; background:url(../images/global/error_warning.png) no-repeat left center; text-indent:49px; font-size:16px; font-weight:bold;}
#error_page .error_nav{text-align:center; margin-top:30px; font-size:18px; color:#727272;}
#error_page .error_nav>a{margin:0 30px; font-size:18px; color:#727272;}

/*屏蔽*/
#shield_hd{padding:60px 0 31px;}
#shield_hd .shield_sorry{padding:18px 0; font-size:100px; color:#cdcdcd; font-weight:bold; line-height:100%; text-transform:uppercase;}
#shield_hd>p{height:33px; line-height:33px; margin:0; color:#494949; padding:0 4px; font-weight:bold; font-size:13px;}
#shield_hd>p>a{color:#48a77a; text-decoration:underline;}
#shield_bd{width:100%; background:url(../images/global/shield_bg.jpg) repeat;}
#shield_bd .shield_error{background:url(../images/global/shield_error.png) no-repeat center top;}
#shield_bd .wide{height:401px;}
#shield_bd .wide>dl{width:309px; margin-left:22px;}
#shield_bd .wide>dl>dt{width:118px; height:118px; overflow:hidden; margin:25px auto 12px; background-image:url(../images/global/shield_ico.png); background-repeat:no-repeat;}
#shield_bd .wide>dl>dd{color:#fff; line-height:180%; font-size:14px;}
#shield_bd .wide>dl>dd>h3{font-weight:bold; display:block; color:#fff; font-size:13px;}
#shield_bd .wide>dl.item_0>dt{background-position:0 0;}
#shield_bd .wide>dl.item_1>dt{background-position:0 -118px;}
#shield_bd .wide>dl.item_2>dt{background-position:0 -236px;}
#shield_bd .wide>dl:first-child{margin-left:4px;}

/*Sitemap*/
.sitemap_box{padding:20px;}
.sitemap_box .sitemap_body{margin-bottom:60px;}
.sitemap_box dl{float:left; margin-right:20px; margin-bottom:10px; width:168px; overflow:hidden;}
.sitemap_box dl>dt{margin-bottom:6px; font-weight:bold;}
.sitemap_box dl>dd>a{display:block; line-height:160%; padding:3px 0;}