/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

/***************************宽屏样式(start)***************************/
.w_1200 .intt .fl2{ width:270px; height:360px;float:left;}
/*.w_1200 .intt .fl2 a{ width:135px; height:180px;float:left;display: block;}*/
.w_1200 .intt .fl2 a .picgroup{ width:135px; height:180px;float:left;text-align: center;}
.w_1200 .intt .fl2 a .picgroup img{ width:125px;}
.w_1200 .intt .fr{ width:768px; height:350px;}

.w_1200 .intt .fl1{ width:270px; height:360px;float:left;}
/*.w_1200 .intt .fl1 a{ width:90px; height:115px;float:left;display: block;margin-bottom:5px;}*/
.w_1200 .intt .fl1 a .picgroup{ width:90px; height:115px;float:left;margin-bottom:5px;text-align: center;}

.w_1200 .intt .fl0{ width:270px; height:360px;float:left;}
/*.w_1200 .intt .fl0 a{ width:270px; height:360px;float:left;display: block;}*/
.w_1200 .intt .fl0 a .picgroup{ width:270px; height:360px;float:left;}

.weiyi{margin-left:30px;margin-bottom:10px;}
.weiyi1{margin-left:10px;margin-bottom:10px;}

/*.w_1200 .intt .fl{ width:362px; height:350px;}*/
/*.w_1200 .intt .fr{ width:768px; height:350px;}*/
/*.w_1200 .intb .fl{ width:772px; height:342px;}*/
/*.w_1200 .intb .fl .img{ width:319px; height:263px;}*/
/*.w_1200 .intb .fl .con{ width:370px; margin-top:100px;}*/
/*.w_1200 .intb .fr{ width:355px; height:342px;}*/

.w_1200 .inmt .prod_box{ width:275px;}
.w_1200 .inmt .prod_box_nor{ margin-left:0;}
.w_1200 .inmt .prod_box .img{ height:275px;}
.w_1200 .inmt .prod_box .img .mask .see{ margin-top:65px;}

.w_1200 .inmb .prod_box{ width:350px; margin-left:55px;}
.w_1200 .inmb .prod_box_nor{ margin-left:0;}
.w_1200 .inmb .prod_box .img{ width:160px; height:160px;}
.w_1200 .inmb .prod_box .con{ margin-top:10px;}

.w_1200 .inbt .link a{ width:200px;}

/***************************宽屏样式(end)***************************/

.g_title{ font-family:"Futura_Md_BT"; font-size:24px; text-align:center;}
.g_sign{ width:173px; height:8px; background:url(../images/g_sign.jpg) no-repeat; margin:0 auto; margin-top:15px;}

.prod_box .icon_discount{position:absolute; top:0; right:0; width:44px; height:25px; color:#fff; line-height:12px; padding-top:5px;}
.prod_box .icon_discount b{font-size:16px;}
.prod_box .icon_discount_foot{width:0; height:0; border-left:22px transparent solid; border-right:22px transparent solid; border-top-width:8px; border-top-style:solid; position:absolute; right:0; top:30px;}
.prod_box .icon_seckill{padding:0 7px; line-height:20px; overflow:hidden; position:absolute; top:0; left:0; color:#fff; display:none;}

.intt .fl{ width:296px; height:286px;}
.intt .fr{ width:628px; height:286px;}

.intb .fl{ width:630px; height:278px; background:#f5f3f6;}
.intb .fl .img{ float:left; width:260px; height:214px; margin-left:26px; margin-top:36px;}
.intb .fl .con{ float:right; width:300px; margin-top:50px; margin-right:20px;}
.intb .fl .con .title{ font-family:"Futura_Bk_BT"; font-size:20px; font-weight:bold;}
.intb .fl .con .intro{ font-family:"Futura_Bk_BT"; color:#555555; font-size:16px; line-height:25px; margin-top:10px;}
.intb .fl .con .btn{ margin-top:20px;}
.intb .fl .con .btn a{ display:inline-block; padding:0 15px; height:35px; line-height:35px; color:#fff; background:#333; font-size:14px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-decoration:none;}
.intb .fr{ width:289px; height:278px;}

.inmt .category{ text-align:center; margin-top:25px;}
.inmt .category a{ font-family:"Futura_Bk_BT"; font-size:16px;}
.inmt .category span{ font-size:16px; color:#c4c4c4; margin:0 30px;}
.inmt .prod_box{ width:220px; float:left; margin-left:20px; margin-bottom:25px;}
.inmt .prod_box_nor{ margin-left:0;}
.inmt .prod_box .img{ height:220px; position:relative;}
.inmt .prod_box .img .mask{ width:100%; height:100%; position:absolute; left:0; top:0; background:url(../images/pro_mask.png); text-align:center; display:none;}
.inmt .prod_box .img .mask a{ width:48px; height:48px; display:block; margin:0 auto; -moz-border-radius:24px; -webkit-border-radius:24px; border-radius:24px; overflow:hidden;}
.inmt .prod_box .img .mask a.see{ background:url(../images/pro_see.png) center no-repeat; margin-top:45px;}
.inmt .prod_box .img .mask a.see:hover{ background:url(../images/pro_see_cur.png) center no-repeat;}
.inmt .prod_box .img .mask a.favo{ background:url(../images/pro_favo.png) center no-repeat;}
.inmt .prod_box .img .mask a.favo:hover{ background:url(../images/pro_favo_cur.png) center no-repeat;}
.inmt .prod_box .img .mask a.cart{ background:url(../images/pro_cart.png) center no-repeat;}
.inmt .prod_box .img .mask a.cart:hover{ background:url(../images/pro_cart_cur.png) center no-repeat;}
.inmt .prod_box .img:hover .mask{ display:block;}
.inmt .prod_box .name{ height:25px; line-height:25px; overflow:hidden; text-align:center; margin:15px 5px 0 5px;}
.inmt .prod_box .name a{ font-family:"Futura_Bk_BT"; font-size:16px;}
.inmt .prod_box .rating{ text-align:center; margin:10px 0;}
.inmt .prod_box .rating img{ margin:0 2px;}
.inmt .prod_box .price{ font-size:16px; text-align:center;}
.inmt .prod_box .price del{ color:#aaa; margin-left:15px;}
.inmt .prod_box .price *{ font-family:"Futura_Bk_BT";}

.inmb .prod_box{ width:306px; margin-left:10px; float:left; min-height:0; margin-bottom:0;}
.inmb .prod_box_nor{ margin-left:0;}
.inmb .prod_box .img{ width:130px; height:130px; position:relative;}
.inmb .prod_box .con{ width:170px;}
.inmb .prod_box .con .name{ height:25px; line-height:25px; overflow:hidden;}
.inmb .prod_box .con .name a{ font-family:"Futura_Bk_BT"; font-size:16px;}
.inmb .prod_box .con .rating{ margin:10px 0;}
.inmb .prod_box .con .rating img{ margin:0 2px;}
.inmb .prod_box .con .price{ font-size:16px;}
.inmb .prod_box .con .price del{ color:#aaa; margin-left:15px;}
.inmb .prod_box .con .price *{ font-family:"Futura_Bk_BT";}
.inmb .prod_box .con .btn a{ height:35px; line-height:35px; display:inline-block; padding-left:40px; padding-right:13px; text-decoration:none; background:url(../images/pro_add_cart.png) #333 10px center no-repeat; color:#fff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

.inbt .link{ border-top:1px solid #e2e2e2; padding:50px 0; text-align:center;}
.inbt .link a{ display:inline-block; width:158px; padding:0 10px;}

.inbb{ text-align:center; height:100px;}
.inbb .txt{ font-family:"Futura_Bk_BT"; font-size:16px; color:#fff; line-height:100px; margin-right:20px;}
.inbb .input{ display:inline-block; border:1px solid #fff; height:44px; line-height:44px;}
.inbb .input .text{ width:290px; height:42px; border:1px solid transparent; background:none; text-indent:10px; color:#fff; vertical-align:top;}
.inbb .input .subscribe{ height:44px; border:0; background:#fff; cursor:pointer; font-family:"Futura_Bk_BT"; font-size:18px; padding:0 25px;}