/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/

/*************************** 宽屏样式 Start ***************************/
.w_1200 #lib_user_wrap, .w_1200 #lib_user_binding{width:1180px;}
.w_1200 #lib_user_prompt li.coupons{width:340px;}
.w_1200 #lib_user_prompt li.news{width:590px;}
.w_1200 #lib_user_menu{width:234px;}
.w_1200 #lib_user_main{width:950px;}
.w_1200 #lib_user_main .index_ml{width:318px;}
.w_1200 #lib_user_main .index_mr{width:568px;}
.w_1200 #lib_user_main .index_item.address ul{line-height:200%;}
.w_1200 #lib_user_main .index_item.favorites .viewport ul li{width:160px;}
.w_1200 #lib_user_main .index_item.review dl.fl{width:520px;}
.w_1200 #lib_user_main .index_item.review dl.fl dd{width:420px;}
.w_1200 #lib_user_main .index_item.review dl.fr{width:360px;}
.w_1200 .order_base>table{width:600px;}
.w_1200 .order_base .order_view{width:250px;}
.w_1200 #lib_user_favorite .pro_item{width:218px;}
.w_1200 #lib_user_favorite .pro_item>dt{height:218px;}
.w_1200 #lib_user_products .item_list .item_name{ width:500px;}
.w_1200 #lib_user_products .prod_con .prod_name{ width:730px;}
.w_1200 #lib_user_products .item .item_con{ width:720px;}
.w_1200 #lib_user_products .mine .item_con{ margin-left:60px;}
.w_1200 #lib_user_products .reply_form .reply_textarea{ width:886px;}
.w_1200 #lib_user_products .reply_form .upload_box{ width:910px;}
.w_1200 #lib_user_products .reply_form .upload_input{ width:908px;}
.w_1200 #lib_user_products .reply_form .upload_file{ width:910px;}
.w_1200 #lib_user_products .reply_form .reply_submit{ margin-left:788px;}
/*************************** 宽屏样式 End ***************************/

/*************************** 全局 Start ***************************/
/* 表单 */
.lib_txt{border:1px solid #ccc; border-radius:3px!important; height:36px; line-height:36px; padding:0 7px; color:#333; font-size:16px; box-shadow:0 1px 0 rgba(255,255,255,.8),inset 0 1px 2px rgba(0,0,0,.06);}
.lib_txt:hover{border-color:#aaa;}
.lib_txt:focus{border-color:#aaa;}
.lib_btn{height:38px; padding:0 20px; border-radius:3px!important; border:none; color:#fff; font-size:16px; font-weight:bold;}
.lib_btn:hover{background-position:0 -38px;}

#lib_user input, #lib_user textarea, #lib_user button{outline:none;}
#lib_user button{cursor:pointer;}

/* 按钮 */
#lib_user .textbtn{ height:28px; line-height:27px; padding:0 15px; border:1px solid #dbdbdb; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; cursor:pointer; display:inline-block; margin-right:10px; background:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eaeaea)); -webkit-background-origin: padding;}
#lib_user .textbtn:hover{background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#dadada));}
#lib_user{background:#fff; width:100%; padding:10px 0 30px;}
#lib_user_wrap{width:960px; margin:0 auto;}

/* 面包屑 */
#lib_user_crumb{position:relative; display:block; border-bottom:1px #ddd solid; margin-bottom:10px; font-family:verdana;}
#lib_user_crumb .crumb_box{display:inline-block; margin-right:45px;}
#lib_user_crumb li, #lib_user_crumb li a{height:29px; line-height:28px; text-decoration:none;}
#lib_user_crumb li i, #lib_user_crumb .root a{background-image:url(../images/user/user_crumb.png);}
#lib_user_crumb li{float:left; position:relative;}
#lib_user_crumb li a{padding:0 8px 0 12px; display:inline-block;}
#lib_user_crumb li i{position:absolute; top:2px; right:-8px; z-index:20; width:9px; height:27px; line-height:26px; background-position:0px -34px;}
#lib_user_crumb li.home a{padding-left:4px;}
#lib_user_crumb .root a{color:#fff; text-shadow:0 1px 0 #666; background-position:0px -61px;}
#lib_user_crumb .root i{background-position:-25px -37px;}

/* 左侧栏 */
#lib_user_menu{float:left; width:200px; border:1px solid #e1e1e1;}
#lib_user_menu .title{height:36px; line-height:36px; text-indent:20px; background:#f3f3f3; font-size:14px; font-weight:bold;}
#lib_user_menu ul{padding-bottom:12px;}
#lib_user_menu li{border-top:1px dashed #e1e1e1; height:35px; line-height:35px; text-indent:24px; overflow:hidden;}
#lib_user_menu li:first-child{border:none;}
#lib_user_menu li b{display:inline-block; height:15px; line-height:15px; text-indent:0; margin-left:5px; margin-bottom:-3px; padding:0 4px; overflow:hidden; color:#fff; text-align:center; background-color:#c00; border-radius:5px;}

/* 地址编辑框 */
.editAddr *{font-family:Verdana;}
.editAddr p{padding:0; margin:0; clear:both;}
.editAddr th, .editAddr td{padding: 6px; vertical-align: top; font-weight:lighter; text-align:left;}
.editAddr th{ display:inline-block; line-height: 22px;}
.editAddr th label{margin-left:3px;}
.editAddr td.recipient div{float: left; padding-right:6px; width: 152px;}
.editAddr td.recipient input{width: 148px;}
.editAddr th .required{float: left; width: 6px; margin-left: -6px;}
.editAddr input {width: 306px; padding: 4px 1px 1px; height: 17px; font: bold 12px arial;}
.editAddr td .countryCode{width: 40px; margin-right: 6px; text-align: right; border: none; float:left; font: bold 12px arial!important;}
.editAddr td .editableSelect{ width: 268px; float:left;}
.editAddr td .editableSelect .phoneNum{margin-right:6px; width: 258px;}
.editAddr td .lightGray{font-size: 10px; color: #999; margin-top: 5px;}
.editAddr td .askTips{display: inline-block;}
.editAddr select {margin: 0; border: 1px solid #bbb; padding: 1px; height: 20px; width: 310px;}
.editAddr .taxCodeOption{width: 177px;}
.editAddr .taxCodeValue{margin: 0 6px; width: 120px;}
.editAddr .tariffCodeOption{width: 190px;}
.editAddr .tariffCodeValue{margin: 0 6px; width: 107px;}
.editAddr .errorInfo, .editAddr .errorInfo a:link{color:#990000; font-size:11px;}
.editAddr .cancel{padding-left:18px; background: url(../images/cart/chosen-sprite.png) no-repeat -45px 2px; float:right; text-decoration:underline;}

/* 国家下拉选择菜单 */
.chzn-container{font-size:11px; position:relative; display:inline-block; zoom:1; *display:inline;}
.chzn-container .chzn-drop{background:#fff; border:1px solid #aaa; border-top:0; position:absolute; top:29px; left:0; -webkit-box-shadow:0 4px 5px rgba(0,0,0,.15); -moz-box-shadow:0 4px 5px rgba(0,0,0,.15); -o-box-shadow:0 4px 5px rgba(0,0,0,.15); box-shadow:0 4px 5px rgba(0,0,0,.15); z-index:999; overflow:hidden;}
.chzn-container-single .chzn-single{background-color:#fff; background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white)); background-image:-webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%); background-image:-moz-linear-gradient(center bottom, #eeeeee 0%, white 50%); background-image:-o-linear-gradient(top, #eeeeee 0%,#ffffff 50%); background-image:-ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0); background-image:linear-gradient(top, #eeeeee 0%,#ffffff 50%); -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -moz-background-clip:padding; -webkit-background-clip:padding-box; background-clip:padding-box; border:1px solid #aaa; display:block; overflow:hidden; white-space:nowrap; position:relative; height:26px; line-height:26px; padding:0 0 0 8px; color:#444; text-decoration:none;}
.chzn-container-single .chzn-single span{margin-right:26px; display:block; overflow:hidden; white-space:nowrap; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; text-overflow:ellipsis;}
.chzn-container-single .chzn-single abbr{display:block; position:absolute; right:26px; top:8px; width:12px; height:13px; font-size:1px; background:url(../images/cart/chosen-sprite.png) right top no-repeat;}
.chzn-container-single .chzn-single abbr:hover{background-position:right -11px;}
.chzn-container-single .chzn-single div{-webkit-border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0; -moz-background-clip:padding; -webkit-background-clip:padding-box; background-clip:padding-box; background:#ccc; background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee)); background-image:-webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%); background-image:-moz-linear-gradient(center bottom, #ccc 0%, #eee 60%); background-image:-o-linear-gradient(bottom, #ccc 0%, #eee 60%); background-image:-ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0); background-image:linear-gradient(top, #cccccc 0%,#eeeeee 60%); border-left:1px solid #aaa; position:absolute; right:0; top:0; display:block; height:100%; width:18px;}
.chzn-container-single .chzn-single div b{background:url('../images/cart/chosen-sprite.png') no-repeat 0 1px; display:block; width:100%; height:100%;}
.chzn-container-single .chzn-search{background:#fff url('../images/cart/chosen-sprite.png') no-repeat 100% -22px; background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee)); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat 100% -24px, linear-gradient(top, #ffffff 85%,#eeeeee 99%); padding:4px 20px 4px 5px; position:relative; margin:3px 4px; white-space:nowrap; border:1px solid #aaa;}
.chzn-container-single .chzn-search input{width:100%; height:20px; margin:0; padding:0; outline:0; border:none; float:right;}
.chzn-container-single .chzn-drop{-webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px; -moz-background-clip:padding; -webkit-background-clip:padding-box; background-clip:padding-box;}
.chzn-container-single-nosearch .chzn-search input{position:absolute; top:-9000px;}
.chzn-container .chzn-drop .chzn-results{margin:0 4px 4px 0; max-height:190px; padding:0 0 0 4px; position:relative; overflow-x:hidden; overflow-y:auto; width:95%;}
.chzn-container .chzn-results li{display:none; line-height:100%; padding:7px 7px 8px; margin:0; list-style:none;}
.chzn-container .chzn-results .active-result{cursor:pointer; display:list-item;}
.chzn-container .chzn-results .highlighted{background:#3875d7; color:#fff;}
.chzn-container .chzn-results li em{background:#feffde; font-style:normal;}
.chzn-container .chzn-results .highlighted em{background:transparent;}
.chzn-container .chzn-results .no-results{background:#f4f4f4; display:list-item;}
.chzn-container .chzn-results .group-result{cursor:default; color:#999; font-weight:bold;}
.chzn-container .chzn-results .group-option{padding-left:20px;}
.chzn-container-active .chzn-single{-webkit-box-shadow:0 0 5px rgba(0,0,0,.3); -moz-box-shadow:0 0 5px rgba(0,0,0,.3); -o-box-shadow:0 0 5px rgba(0,0,0,.3); box-shadow:0 0 5px rgba(0,0,0,.3); border:1px solid #5897fb;}
.chzn-container-active .chzn-single-with-drop{border:1px solid #aaa; -webkit-box-shadow:0 1px 0 #fff inset; -moz-box-shadow:0 1px 0 #fff inset; -o-box-shadow:0 1px 0 #fff inset; box-shadow:0 1px 0 #fff inset; background-color:#eee; background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee)); background-image:-webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%); background-image:-moz-linear-gradient(center bottom, white 0%, #eeeeee 50%); background-image:-o-linear-gradient(bottom, white 0%, #eeeeee 50%); background-image:-ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0); background-image:linear-gradient(top, #ffffff 0%,#eeeeee 50%); -webkit-border-bottom-left-radius :0; -webkit-border-bottom-right-radius:0; -moz-border-radius-bottomleft:0; -moz-border-radius-bottomright:0; border-bottom-left-radius:0; border-bottom-right-radius:0;}
.chzn-container-active .chzn-single-with-drop div{background:transparent; border-left:none;}
.chzn-container-active .chzn-single-with-drop div b{background-position:-18px 1px;}
.chzn-container-active .chzn-choices{-webkit-box-shadow:0 0 5px rgba(0,0,0,.3); -moz-box-shadow:0 0 5px rgba(0,0,0,.3); -o-box-shadow:0 0 5px rgba(0,0,0,.3); box-shadow:0 0 5px rgba(0,0,0,.3); border:1px solid #5897fb;}
.chzn-container-active .chzn-choices .search-field input{color:#111!important;}
.chzn-disabled{cursor:default; opacity:0.5!important;}
.chzn-disabled .chzn-single{cursor:default;}
.chzn-disabled .chzn-choices .search-choice .search-choice-close{cursor:default;}
.chzn-rtl{direction:rtl; text-align:right;}
.chzn-rtl .chzn-single{padding-left:0; padding-right:8px;}
.chzn-rtl .chzn-single span{margin-left:26px; margin-right:0;}
.chzn-rtl .chzn-single div{left:0; right:auto; border-left:none; border-right:1px solid #aaaaaa; -webkit-border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
.chzn-rtl .chzn-choices li{float:right;}
.chzn-rtl .chzn-choices .search-choice{padding:3px 6px 3px 19px; margin:3px 5px 3px 0;}
.chzn-rtl .chzn-choices .search-choice .search-choice-close{left:5px; right:auto; background-position:right top;}
.chzn-rtl.chzn-container-single .chzn-results{margin-left:4px; margin-right:0; padding-left:0; padding-right:4px;}
.chzn-rtl .chzn-results .group-option{padding-left:0; padding-right:20px;}
.chzn-rtl.chzn-container-active .chzn-single-with-drop div{border-right:none;}
.chzn-rtl .chzn-search input{background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, #ffffff; background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee)); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background:url('../images/cart/chosen-sprite.png') no-repeat -38px -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%); padding:4px 5px 4px 20px;}
/*************************** 全局 End ***************************/

/*************************** 会员登录 Start ***************************/
#signin_module{position:fixed; z-index:100000; top:20%;}
#signin_module .box_bg{width:100%; height:100%; background-color:#fff; position:absolute; top:0; left:0; -moz-box-shadow:0px 0px 20px #000; -webkit-box-shadow:0px 0px 20px #000; box-shadow:0px 0px 20px #000; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
#signin_module .noCtrTrack{top:12px; right:0px; width:40px; height:26px; font-size:30px; color:#000; opacity:0.2; filter:alpha(opacity=20); text-decoration:none; font-family:Helvetica; font-weight:bold; position:absolute; z-index:100000;}
#signin_module .noCtrTrack:hover{color:#000000; text-decoration:none; cursor:pointer; opacity:0.4; filter:alpha(opacity=40);}
#signin_module #lb-wrapper{width:400px; padding:20px; position:relative; z-index:10; zoom:1; background-color:#fff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -webkit-background-clip:padding-box; -moz-background-clip:padding-box; background-clip:padding-box;}
#signin_module #lb-wrapper h3{font-size:16px; display:block; padding-bottom:10px; color:#333; line-height:18px; border-bottom:1px solid #ddd; text-indent:8px;}
#signin_module #lb-wrapper .lib_txt{border:1px solid #ccc; border-radius:3px!important; height:36px; line-height:36px; width:370px; padding:0 7px; color:#333; font-size:16px; box-shadow:0 1px 0 rgba(255,255,255,.8),inset 0 1px 2px rgba(0,0,0,.06);}
#signin_module #lb-wrapper .title{margin:0 20px 15px; height:52px; border-bottom:1px solid #e5e5e5; line-height:52px; font-size:24px; text-indent:13px; color:#333;}
#signin_module #lb-wrapper .error_note_box{border:1px #ffdb83 solid; color:#f00; padding:10px; margin:15px 5px; background:#fff9e1; display:none;}
#signin_module #lb-wrapper .on_error{margin:0; color:#f00; display:none;}
#signin_module #lb-wrapper .row{ margin-top:10px; padding:0 8px;}
#signin_module #lb-wrapper .row label{display:block; font-size:14px; color:#555; margin-bottom:4px;}
#signin_module #lb-wrapper .row a.forgot{text-decoration:underline;}
#signin_module #lb-wrapper .protect{padding-left:30px; position:relative; overflow:hidden; margin-bottom:15px;}
#signin_module #lb-wrapper .protect span{color:#767676; display:block; margin-top:4px;}
#signin_module #lb-wrapper .protect .ckb{position:absolute; top:2px; left:4px;}
#signin_module #lb-wrapper .signbtn{border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:2px 12px; line-height:25px; display:inline-block; cursor:pointer; font-size:14px; margin-right:16px;}
#signin_module #lb-wrapper .signin{color:#fff;}
#signin_module #lb-wrapper .signup{background:#fff; border:1px solid #d0d0d0;}

.fb_button{display:block; height:32px; overflow:hidden; position:relative; margin-bottom:12px; cursor:pointer;}
.fb_button i{width:30px; height:32px; overflow:hidden; background:url(../images/user/sign_in_facebook.png) left top no-repeat; position:absolute; left:0; top:0;}
.fb_button em{width:8px; height:32px; overflow:hidden; background:url(../images/user/sign_in_facebook.png) left -73px no-repeat; position:absolute; right:0; top:0;}
.fb_button span{display:block; margin:0 8px 0 30px; height:32px; line-height:32px; overflow:hidden; background:url(../images/user/sign_in_facebook.png) left -37px repeat-x; color:#fff; text-indent:8px; font-size:10px;}
.fb_button:hover i{background:url(../images/user/sign_in_facebook.png) left -110px no-repeat;}
.fb_button:hover em{background:url(../images/user/sign_in_facebook.png) left -186px no-repeat;}
.fb_button:hover span{background:url(../images/user/sign_in_facebook.png) left -148px repeat-x;}

.google_button{display:block; height:32px; line-height:30px; background:#cc3732; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-bottom:12px;}
.google_button:hover{background:#e74b37; cursor:pointer;}
.google_button span.icon{background:url(../images/user/google_icon.png) transparent 0 50% no-repeat; display:inline-block; vertical-align:middle; width:22px; height:22px; margin-left:5px;}
.google_button span.button_text{line-height:28px; font-size:10px; margin-left:12px;}

.twitter_button{display:block; height:30px; line-height:30px; border:1px solid #3894da; background:#3498e4; color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-bottom:12px;}
.twitter_button:hover{background:#55ACEE; cursor:pointer;}
.twitter_button span.icon{background:url(../images/user/twitter_icon.png) transparent 0 50% no-repeat; display:inline-block; vertical-align:middle; width:22px; height:22px; margin-left:5px;}
.twitter_button .text{line-height:28px; font-size:10px; margin-left:6px; color:#fff; text-decoration:none;}

#paypalLogin{ margin-bottom:12px;}
#paypalLogin .PPBlue{height:32px!important;}
#paypalLogin .PPBlue b{padding:0!important; padding-left:8px!important; padding-right:40px!important;}

.vk_button{display:block; height:32px; line-height:30px; background:#507299; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.vk_button:hover{background:#5f86b4; cursor:pointer;}
.vk_button span.icon{background:url(../images/user/vk_icon.png) transparent 0 50% no-repeat; display:inline-block; vertical-align:middle; width:22px; height:22px; margin-left:5px;}
.vk_button span.button_text{line-height:28px; font-size:10px; margin-left:8px;}
/*************************** 会员登录 End ***************************/

/*************************** 会员注册、找回密码、邮件验证 Start ***************************/
#customer{width:980px; margin:0 auto; overflow:hidden;}
#customer .header{width:100%; height:90px; overflow:hidden; border-bottom:1px solid #c8c8c8; margin-bottom:20px;}
#customer .header .logo{max-width:500px; height:90px; overflow:hidden;}
#customer .header .logo img{max-width:100%; max-height:100%;}
#customer .header .home{padding:45px 0 21px; height:24px; line-height:24px; display:block; text-decoration:underline; color:#999;}
#customer .header .home:hover{color:#666;}
#customer .sign_btn, #customer .fb_button, #customer .google_button, #customer .vk_button{width:184px;}
#customer .twitter_button{width:182px;}
#customer #paypalLogin .PPBlue b{padding: 0!important; padding-left: 7px!important; padding-right: 41px!important;}

#signup{padding-top:20px;}
#signup .register{width:600px;}
#signup .register .title{margin-bottom:15px; height:32px; border-bottom:1px solid #e5e5e5; font-size:16px; text-indent:13px; color:#333;}
#signup .register .error_note_box{border:1px #ffdb83 solid; color:#f00; padding:10px; margin:15px; background:#fff9e1; display:none;}
#signup .register .on_error{margin:0; color:#f00; display:none;}
#signup .register .row{margin:10px 15px;}
#signup .register .row label{display:block; font-size:14px; color:#555; margin-bottom:4px;}
#signup .register .intro{color:#555; margin:15px 20px; height:inherit; line-height:160%;}
#signup .register .intro a{color:#0654ba; text-decoration:underline;}
#signup .register .intro dt{font-weight:bold;}
#signup .register .intro dd{padding-left:15px; background:url(../images/user/point2.gif) no-repeat 0 7px; margin-top:5px;}
#signup .register .lib_txt{border:1px solid #ccc; border-radius:3px!important; height:36px; line-height:36px; padding:0 7px; color:#333; font-size:16px; box-shadow:0 1px 0 rgba(255,255,255,.8),inset 0 1px 2px rgba(0,0,0,.06);}
#signup .register .lib_txt:hover{border:1px solid #aaa;}
#signup .register #Code.lib_txt{text-transform:uppercase;}
#signup .register .signbtn{border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:2px 12px; line-height:25px; display:inline-block; cursor:pointer; font-size:14px; margin-right:16px; text-decoration:none;}
#signup .register .signup{color:#fff;}
#signup select{height:38px; line-height:38px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border:1px #aaa solid;}
#signup .info{width:232px;}
#signup .info .box{width:190px; padding:15px 20px; border:1px solid #ddd; margin-bottom:15px;}
#signup .info .member p{padding:0; padding-bottom:12px; margin:0;}
#signup .info .member .signinbtn{height:32px; line-height:30px; padding:0 15px; border:1px solid #dbdbdb; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; cursor:pointer; display:block; margin:0 auto; text-align:center; margin-bottom:12px; background:#F80; background:-webkit-gradient(linear, left top, left bottom, from(#ff9100), to(#ff7300)); background:linear-gradient(180deg, #ff9100, #ff7300); -webkit-background-origin: padding; -webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.3); box-shadow:0 2px 2px rgba(0, 0, 0, 0.3); color:#fff; font-size:14px;}
#signup .info .member .signinbtn:hover{background:-webkit-gradient(linear, left top, left bottom, from(#ffab3c), to(#fd8d32));}
#signup .info .box h3{font-size:14px; font-weight:bold; padding-bottom:12px;}
#signup .info .box li{height:28px; line-height:28px; overflow:hidden; background:url(../images/user/point.gif) left center no-repeat; background-size:3px 3px; text-indent:8px;}

#customer .footer{border-top:1px solid #dcdcdc; padding:16px 0; text-align:center;}
#customer .footer .img{padding:10px 0;}
#customer .footer .copyright{padding-top:8px;}

.verification_box{padding:20px 40px 30px; border:1px #baeb9a solid; background:#f5fdf3;}
.verification_box strong{font-weight:700;}
.verification_title{font-size:14px; line-height:36px; margin-bottom:15px; font-weight:700;}
.verification_title>i{width:36px; height:36px; float:left; display:block; background:url(../images/global/normal.png) no-repeat -597px -145px; margin-right:15px;}
.verification_info{padding:0 52px;}
.verification_info dt{margin-bottom:7px; font-weight:700;}
.verification_info dt strong{color:#e71;}
.verification_info dd{margin-bottom:25px;}
.verification_info dd>p{margin:10px 0;}
.verification_info dd .btn_list{margin-top:25px; line-height:35px;}
.verify_now_btn{border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:0 30px; height:35px; line-height:35px; color:#fff; display:inline-block; float:left; cursor:pointer; font-size:14px; margin-right:16px; overflow:hidden;}
.verify_now_btn:hover{text-decoration:none; color:#fff;}
.guide_btn{margin:0 5px;}
/*************************** 会员注册、找回密码、邮件验证 End ***************************/

/*************************** 会员首页 Start ***************************/
#lib_user_welcome{margin-bottom:10px;}
#lib_user_welcome dt{font-size:14px; color:#000; font-weight:bold; height:25px; padding-top:10px; margin-bottom:5px; text-transform:capitalize;}
#lib_user_welcome dd{color:#333; line-height:1.6em;}
#lib_user_welcome .remove_newsletter{display:inline-block; margin-left:10px; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; font-size:12px; font-weight:normal;}
#lib_user_welcome .remove_newsletter span{padding:0 5px; height:20px; line-height:20px; cursor:pointer; vertical-align:middle; text-decoration:none; display:inline-block;}
#lib_user_welcome .remove_newsletter em{width:18px; height:20px; display:inline-block; vertical-align:middle; background:url(../images/global/normal.png) no-repeat -486px -20px;}

#lib_user_prompt{height:37px; line-height:37px;}
#lib_user_prompt li{position:relative; color:#555555; font-weight:bold; text-indent:60px; background:none #f6f6f6 no-repeat 10px center;}
#lib_user_prompt li b{display:block; width:16px; height:16px; overflow:hidden; color:#fff; background:url(../images/user/icon_num.gif) no-repeat center center; position:absolute; top:5px; left:40px; text-align:center; line-height:15px; text-indent:0; font-weight:lighter;} 
#lib_user_prompt li.coupons{float:left; width:272px; height:37px; background-image:url(../images/user/icon_coupons.gif); overflow:hidden;}
#lib_user_prompt li.news{float:right; width:493px; height:37px; background-image:url(../images/user/icon_news.gif); overflow:hidden;}

#lib_user_main{float:right; width:770px;}
#lib_user_main .index_ml{float:left; width:250px;}
#lib_user_main .index_mr{float:right; width:470px;}
#lib_user_main .index_boxes{border:1px solid #e7e7e7; padding:0 10px;}
#lib_user_main .lib_user_title{height:40px; line-height:40px; font-size:18px; color:#000; border-bottom:1px solid #e7e7e7; text-transform:capitalize; text-indent:8px;}
#lib_user_main .lib_user_title .back{ display:inline-block; height:22px; line-height:22px; font-family:"Arial"; font-size:14px; text-indent:0; padding-left:35px; padding-right:20px; float:right; margin-top:5px; background:url(../images/user/icon_back.png) 20px center no-repeat; color:#666; border:1px solid #eee; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
#lib_user_main .index_item{position:relative; overflow:hidden;}
#lib_user_main .index_item h4{height:41px; line-height:41px; border-bottom:1px dashed #ccc; padding-left:35px; color:#555; text-transform:capitalize; background:none no-repeat 4px center; font-weight:bold;}
#lib_user_main .index_item .link{position:absolute; top:13px; right:2px;}
#lib_user_main .index_item .link a{color:#555; margin-left:10px;}
#lib_user_main .index_item .link a:hover{color:#f60;}
#lib_user_main .index_item.index_mr .link{right:15px;}
#lib_user_main .index_item.personal{height:174px; border-bottom:1px solid #e5e5e5;}
#lib_user_main .index_item.personal h4{background-image:url(../images/user/icon_personal.gif);}
#lib_user_main .index_item.personal ul{line-height:2.5em; padding:5px 0 0 6px;}
#lib_user_main .index_item.personal ul b{margin-right:5px;}
#lib_user_main .index_item.personal ul a{color:#999;}
#lib_user_main .index_item.personal ul a:hover{color:#f60;}
#lib_user_main .index_item.address{height:180px;}
#lib_user_main .index_item.address h4{background-image:url(../images/user/icon_address.gif);}
#lib_user_main .index_item.address ul{line-height:175%; padding:5px 0 0 6px;}
#lib_user_main .index_item.address ul b{margin-right:5px;}
#lib_user_main .index_item.address ul a{color:#999;}
#lib_user_main .index_item.address ul a:hover{color:#f30;}
#lib_user_main .index_item.orders{height:355px;}
#lib_user_main .index_item.orders h4{background-image:url(../images/user/icon_orders.gif);}
#lib_user_main .index_item.orders th{height:42px; line-height:42px; color:#60666a; text-align:left; text-indent:9px;}
#lib_user_main .index_item.orders td{height:37px; line-height:15px; color:#333; text-indent:9px;}
#lib_user_main .index_item.orders td a{color:#333; font-weight:bold;}
#lib_user_main .index_item.orders .odd td{background:#f6f6f6;}
#lib_user_main .index_item.orders .no_list{width:100%; padding-top:255px; text-align:center; color:#555; background:url(../images/user/icon_orders_bg.gif) no-repeat center 50px; font-size:14px;}
#lib_user_main .index_item.orders .no_list a{color:#555; text-decoration:underline; margin-left:5px;}
#lib_user_main .index_item.orders .no_list a:hover{color:#f60;}
#lib_user_main .index_item.service{height:174px;}
#lib_user_main .index_item.service h4{background-image:url(../images/user/icon_service.gif);}
#lib_user_main .index_item.service ul li{padding-left:21px; margin-top:14px; background:url(../images/user/point.gif) no-repeat 5px center;}
#lib_user_main .index_item.service ul li a{color:#555; font-weight:bold;}
#lib_user_main .index_item.favorites{height:174px;}
#lib_user_main .index_item.favorites h4{background-image:url(../images/user/icon_favorites.gif);}
#lib_user_main .index_item.favorites .no_list{width:100%; padding-top:100px; text-align:center; color:#555; background:url(../images/user/icon_favorites_bg.gif) no-repeat center 10px; font-size:14px;}
#lib_user_main .index_item.favorites .no_list a{color:#555; text-decoration:underline; margin-left:5px;}
#lib_user_main .index_item.favorites .no_list a:hover{color:#f60;}
#lib_user_main .index_item.favorites .btn_l{width:18px; height:72px; cursor:pointer; position:absolute; top:71px; left:9px; background:url(../images/user/btn_left.gif) no-repeat center center;}
#lib_user_main .index_item.favorites .btn_r{width:18px; height:72px; cursor:pointer; position:absolute; top:71px; right:9px; background:url(../images/user/btn_right.gif) no-repeat center center;}
#lib_user_main .index_item.favorites .viewport{width:520px; height:131px; overflow:hidden; margin:0 auto;}
#lib_user_main .index_item.favorites .viewport ul{width:200%;}
#lib_user_main .index_item.favorites .viewport ul li{float:left; width:140px; height:131px; margin-right:20px; text-align:center;}
#lib_user_main .index_item.favorites .viewport ul li .photo{width:100px; height:100px; display:block; margin:5px auto;}
#lib_user_main .index_item.favorites .viewport ul li .photo a{width:100px; height:100px; display:table-cell; vertical-align:middle;}
#lib_user_main .index_item.favorites .viewport ul li .photo img{ max-width:100%; max-height:100%;}
#lib_user_main .index_item.favorites .viewport ul li .name{color:#666; display:block; height:16px; overflow:hidden;}
#lib_user_main .index_item.review{min-height:100px; padding-bottom:19px;}
#lib_user_main .index_item.review h4{background-image:url(../images/user/icon_review.gif);}
#lib_user_main .index_item.review .link{right:15px;}
#lib_user_main .index_item.review li{width:100%; overflow:hidden; margin-top:19px;}
#lib_user_main .index_item.review dl{line-height:1.6em; color:#555;}
#lib_user_main .index_item.review dl.fl{width:510px; overflow:hidden;}
#lib_user_main .index_item.review dl.fl dt{float:left; width:82px; height:82px; overflow:hidden; margin-top:3px; text-align:center;}
#lib_user_main .index_item.review dl.fl dt img{max-width:100%; max-height:100%;}
#lib_user_main .index_item.review dl.fl dd{float:left; width:410px; margin-left:10px;}
#lib_user_main .index_item.review dl.fl .review{color:#666;}
#lib_user_main .index_item.review dl.fl .title{height:30px; line-height:30px; border-bottom:1px #ccc dotted;}
#lib_user_main .index_item.review dl.fl .star{margin-left:10px;}
#lib_user_main .index_item.review dl.fl .time{margin-right:10px;}
#lib_user_main .index_item.review dl.fl .content{padding:10px; line-height:1.6em;}
#lib_user_main .index_item.review dl.fr{width:203px; padding:3px 7px 3px 14px; background:#eee; position:relative;}
#lib_user_main .index_item.review dl.fr dt{font-weight:bold;}
#lib_user_main .index_item.review dl.fr .arrow{position:absolute; top:17px; left:-12px; display:block; width:12px; height:12px; font-size:0; line-height:0; background:url(../images/user/review_arrow.gif);}
/*************************** 会员首页 End ***************************/

/*************************** 会员订单 Start ***************************/
#lib_user_order th{height:26px; background:#f7f7f7; color:#333; font-size:12px; font-weight:bold; font-family:verdana; padding:10px; text-align:left;}
#lib_user_order td{border-bottom:1px dashed #ccc; padding:15px 0 15px 10px; text-align:left; vertical-align:top; font-size:12px;}
#lib_user_order .order_info{text-decoration:underline; color:#f60; display:inline-block; margin-bottom:5px;}
#lib_user_order .order_info b{display:inline-block; height:15px; line-height:15px; text-indent:0; margin-left:5px; margin-bottom:-3px; padding:0 4px; overflow:hidden; color:#fff; text-align:center; background-color:#c00; border-radius:5px;}

.orders_status_list dt{float:left; margin:6px 7px; border-right:1px #eee solid; width:1px; height:22px;}
.orders_status_list dd{float:left; padding:6px 3px; line-height:22px;}
.orders_status_list dd a{font-size:12px; color:#ccc;}
.orders_status_list dd a.current{color:#000;}

.order_btn{height:22px; line-height:22px; background:url(../images/user/buttons_bg.jpg) repeat-x; padding:0 10px; text-shadow:0 1px 0 #fff9a0; border:1px #d0af76 solid; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; display:inline-block; text-decoration:none; color:#963; font-family:Verdana; margin-right:6px;}
.order_btn:hover{background:url(../images/user/buttons_hover_bg.jpg) repeat-x; border-color:#bf903d; box-shadow:0 1px 2px rgba(0,0,0,0.15); -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2); -moz-box-shadow:0 2px 0 rgba(0,0,0,0.2);}
.edit_pay_btn{margin-top:5px;}

.order_body{border:1px #ddd solid; margin-bottom:10px; padding:0 10px 10px;}
.order_base{border-bottom:1px #ddd solid; padding:10px; margin-bottom:10px; position:relative;}
.order_base>table{margin-bottom:5px; width:470px;}
.order_base>table th{color:#333; white-space:nowrap; padding-right:10px; height:16px; text-align:left;}
.order_base>table td{vertical-align:top;}
.order_base>table td>strong{margin-right:5px;}
.order_base>table td .query{text-decoration:underline; cursor:pointer;}
.order_base .order_view{width:200px; padding:12px 20px; background:#f3f3f3; min-height:140px;}
.order_base .order_view .order_btn{margin-bottom:10px;}
.order_base .order_view .payment_info{line-height:180%;}
.order_base .order_view .payment_info h3{font-weight:bold; color:#333;}
.order_base .order_view .payment_info .rows{padding:2px; padding-left:5px;}
.order_base .order_view .payment_info .rows strong{display:inline-block; padding-right:3px;}
.order_base .order_view .payment_info .rows span{display:inline-block;}

.order_menu h3{color:#333; margin-top:15px; text-indent:10px; padding:6px 0; font-size:14px; font-weight:bold;}
.order_menu .row_hd{height:30px; line-height:30px; text-indent:10px; font-size:14px;}
.order_menu .row_hd>span{margin-left:15px;}
.order_menu .row_table{margin-bottom:20px;}
.order_menu .row_table th{height:26px; background:#f3f3f3; color:#333; font-size:12px; font-weight:bold; font-family:verdana; padding:10px; text-align:left;}
.order_menu .row_table td{border-bottom:1px #ddd solid; padding-left:10px; text-align:left; font-size:12px; height:40px;}
.order_menu .row_table td.pro_list>h4{padding:8px 0 4px; font-size:13px; padding-left:5px; font-weight:bold;}
.order_menu .row_table dl{padding:10px 20px 10px 0;}
.order_menu .row_table dl.plist{margin-left:40px;}
.order_menu .row_table dl.first{margin-left:0;}

.order_menu .row_table dt{float:left; width:85px; height:85px; text-align:center; border:1px solid #eee;}
.order_menu .row_table dt img{max-width:100%; max-height:100%;}
.order_menu .row_table dd{margin-left:90px;}
.order_menu .row_table dl h4{font-size:13px; padding-left:5px; font-weight:bold;}
.order_menu .row_table dl h5{ padding-left:5px;}
.order_menu .row_table dl p{padding-left:5px; margin:0; margin-top:5px;}
.order_menu .row_table .pro_qty{width:80px;}
.order_menu .row_table .pro_price, .order_menu .row_table .pro_amount{width:100px;}

.grand_total>table{font-family:verdana;}
.grand_total>table th{text-align:right; width:100%; color:#333; padding:5px 0; font-weight:normal;}
.grand_total>table th em{padding:0 15px; font-size:12px; font-weight:normal;}
.grand_total>table td{padding-right:10px;}
.grand_total>table tfoot th, .grand_total>table tfoot td{background:#f3f3f3; border-top:2px #ddd solid; font-size:14px; font-weight:bold;}

.order_cancel_info{padding:10px; margin-bottom:10px; font-family:verdana;}
.order_cancel_info .back_click{color:#c00; text-decoration:underline;}
.order_cancel_info>table{margin-top:5px;}
.order_cancel_info>table th{text-align:left; color:#666;}
.order_cancel_view{font-family:verdana; margin-bottom:10px;}
.order_cancel_view h3{font-size:14px; padding:6px 0; font-weight:bold; color:#666;}
.order_cancel_view p{margin:0;}
.order_cancel_view p a{color:#c00;}
#cancelForm .form_button{width:auto; padding:0 10px;}

.confirm_receiving{text-decoration:underline;}

#pay_choose{position:fixed; opacity:0.95; z-index:100000; top:20%;}
#pay_choose .box_bg{width:100%; height:100%; background-color:#fff; position:absolute; top:0; left:0; -moz-box-shadow:0px 0px 20px #000; -webkit-box-shadow:0px 0px 20px #000; box-shadow:0px 0px 20px #000; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
#choose_close{top:10px; right:-5px; width:40px; height:26px; font-size:30px; color:#000; opacity:0.2; filter:alpha(opacity=20); text-decoration:none; font-family:Helvetica; font-weight:bold; position:absolute; z-index:100000;}
#choose_close:hover{color:#000000; text-decoration:none; cursor:pointer; opacity:0.4; filter:alpha(opacity=40);}
#choose_content{width:400px; padding:20px; padding-bottom:0px; position:relative; z-index:10; zoom:1; background-color:#fff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -webkit-background-clip:padding-box; -moz-background-clip:padding-box; background-clip:padding-box;}
#choose_content label{font:14px/100% Verdana, Arial, Helvetica, sans-serif; display:block; padding-bottom:12px; color:#333; line-height:18px;}
#choose_content .pay_content{padding-top:10px; max-height:150px; overflow-y:auto;}
#choose_content .footRegion{-webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px; padding:14px 19px 15px; margin:15px 0 0 -19px; background-color:whiteSmoke; border-top:1px solid #ddd; -webkit-box-shadow:inset 0 1px 0 #ffffff; -moz-box-shadow:inset 0 1px 0 #ffffff; box-shadow:inset 0 1px 0 #ffffff; width:100%;}
#choose_content .footRegion .btn{min-width:70px; display:inline-block; padding:4px 10px 4px; margin-bottom:0; font-size:13px; line-height:18px; color:#ffffff; text-align:center; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); vertical-align:middle; background-repeat:repeat-x; border:1px solid #cccccc; border-bottom-color:#b3b3b3; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor:pointer;}
#choose_content .footRegion .btn:hover{color:#333333; text-decoration:none; background-color:#e6e6e6; background-position:0 -15px; -webkit-transition:background-position 0.1s linear; -moz-transition:background-position 0.1s linear; -ms-transition:background-position 0.1s linear; -o-transition:background-position 0.1s linear; transition:background-position 0.1s linear;}
#choose_content .footRegion .btn-success{background-color:#da4f49; background-image:-ms-linear-gradient(top, #ee5f5b, #bd362f); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)); background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f); background-image:-o-linear-gradient(top, #ee5f5b, #bd362f); background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f); background-image:linear-gradient(top, #ee5f5b, #bd362f); border-color:#bd362f #bd362f #802420; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); margin-right:20px;}
#choose_content .footRegion .btn-success:hover{background-color:#bd362f; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); color:#ffffff;}
#choose_content .choose_price{padding-top:15px; font-size:14px;}
#choose_content .choose_price>span{color:#c00;}
/*************************** 会员订单 End ***************************/

/*************************** 会员评论 Start ***************************/
#lib_user_review .item{padding:20px; border-top:1px dashed #ddd; overflow:hidden;}
#lib_user_review .item:first-child{border-top:0;}
#lib_user_review .item dt{width:100px;}
#lib_user_review .item .pic_box{height:100px; overflow:hidden; text-align:center; vertical-align:middle; display:block;}
#lib_user_review .item .pic_box img{max-width:100%; max-height:100%;}
#lib_user_review .item dd{margin-left:120px; line-height:1.6em;}
#lib_user_review .item .review{color:#666;}
#lib_user_review .item .title{height:30px; line-height:30px; border-bottom:1px #ccc dotted;}
#lib_user_review .item .star{margin-left:10px;}
#lib_user_review .item .time{margin-right:10px;}
#lib_user_review .item .content{padding:10px; line-height:1.6em;}
#lib_user_review .item .reply{margin-top:10px; border:1px #ccc solid; background:#f1f3f8; padding:10px;}
#lib_user_review .item .reply p{margin:0; line-height:1.6em;}
#lib_user_review .item .reply .writer{margin-top:6px; color:#999; font-family:Verdana;}
#lib_user_review .item .reply .replier{color:#333;}
/*************************** 会员评论 End ***************************/

/*************************** 会员收藏 Start ***************************/
#lib_user_favorite{padding:10px;}
#lib_user_favorite .pro_item{border:1px #eee solid; margin-left:16px; width:173px; margin-bottom:20px; background:#fafafa;}
#lib_user_favorite .pro_item>dt{height:173px; text-align:center; vertical-align:middle; background:#fff;}
#lib_user_favorite .pro_item>dt img{max-width:100%; max-height:100%;}
#lib_user_favorite .pro_item>dd{padding:0 7px;}
#lib_user_favorite .pro_item .pro_name{height:36px; overflow:hidden; line-height:140%; padding-top:8px;}
#lib_user_favorite .pro_item a{color:#666;}
#lib_user_favorite .pro_item .pro_price{line-height:120%;}
#lib_user_favorite .pro_item del{font-size:12px; color:#666;}/*display:block; */
#lib_user_favorite .pro_item del .currency_data, #lib_user_favorite .pro_item del .price_data{color:#666; font-size:12px; font-weight:normal;}
#lib_user_favorite .pro_item .pro_review{padding-top:8px; height:16px;}
#lib_user_favorite .pro_item .pro_view{padding-top:8px; padding-bottom:8px;}
#lib_user_favorite .pro_item .pro_btn{margin-right:10px; text-decoration:none;}
#lib_user_favorite .pro_item .pro_btn:hover{text-decoration:underline;}
#lib_user_favorite .first, #lib_user_favorite .pro_item:first-child{margin-left:0;}
/*************************** 会员收藏 End ***************************/

/*************************** 会员地址 Start ***************************/
#lib_user_address{padding:24px;}
#lib_user_address .billing_addr, #lib_user_address .shipping_addr{border-bottom:1px #ccc solid; padding:10px;}
#lib_user_address .big{margin-bottom:15px; font-size:14px; font-family:georgia; color:#666;}
#lib_user_address .addr_item{width:230px; margin-right:10px; margin-bottom:15px;}
#lib_user_address .addr_item li{margin-bottom:5px; font-family:verdana; line-height:150%;}
#addressForm{display:none; padding:10px;}
/*************************** 会员地址 End ***************************/

/*************************** 基本资料 Start ***************************/
#lib_user_setting{padding:20px;}
#lib_user_setting h3{font-size:14px; width:270px; height:30px; line-height:30px; float:left; display:block;}
#lib_user_setting form{display:inline-block; float:left;}
#lib_user_setting th{padding-right:10px; font-weight:normal; width:148px; text-align:left;}
#lib_user_setting td{padding:5px 0;}
#lib_user_setting .line{width:100%; height:20px; border-bottom:1px solid #e7e7e7; clear:both; overflow:hidden; margin-bottom:20px;}
#lib_user_setting span{font-family:Arial;}
/*************************** 基本资料 End ***************************/

/*************************** 站内信 Start ***************************/
.inbox_menu{padding:24px;}
.inbox_menu .menu_title{height:36px; border-bottom:1px #ddd solid; padding:0 10px;}
.inbox_menu .menu_title>li{float:left; display:inline; text-align:center; margin-right:10px;}
.inbox_menu .menu_title a{height:35px; line-height:35px; border:1px #ddd solid; border-top-left-radius:4px; border-top-right-radius:4px; background:#f7f7f7; float:left; padding:0 18px; font-size:14px;}
.inbox_menu .menu_title a:hover{text-decoration:none;}
.inbox_menu .menu_title .current{background:#999; color:#fff;}
.inbox_menu .menu_content{padding:10px; line-height:180%; background:#f3f7ff;}
.inbox_menu .menu{min-height:200px; _height:200px;}

.msg_list{margin-top:20px;}
.msg_list li{height:30px; line-height:30px; border-bottom:1px #ccc dashed; padding:0 15px; overflow:hidden;}
.msg_list li i{width:18px; height:16px; overflow:hidden; background:url(../images/user/mail_icon.png) no-repeat 0 0; margin:6px 5px 0 0;}
.msg_list li i.read{background:url(../images/user/mail_icon.png) no-repeat 0 -15px;}
.msg_view{border-top:1px solid #e8e8e8; width:90%; margin:20px auto 0;}
.msg_view h3{font-size:14px;}
.msg_view .rows{clear:both; border-bottom:1px solid #e8e8e8;}
.msg_view .rows>label, .msg_view .rows .input{padding:8px 0; overflow:hidden; float:left; line-height:28px;}
.msg_view .rows>label, .msg_view .rows .input .pic{ max-width:85px; max-height:85px;}
.msg_view .rows>label{width:15%; height:28px; text-align:right; padding-right:20px;}
.msg_view .rows .input{width:80%; min-height:28px; padding-left:10px; display:block; border-left:1px solid #e8e8e8;}

.inbox_form .rows>label, .inbox_form .rows .input{padding:8px 0; overflow:hidden; float:left; display:inline; line-height:28px;}
.inbox_form .rows>label{width:15%; height:28px; text-align:right; padding-right:10px;}
.inbox_form .rows .input{width:80%; min-height:28px; padding-left:10px; display:block;}
.inbox_form .rows .form_input{height:28px; line-height:28px; border:1px solid #e8e8e8; background:#fff; border-radius:5px; padding:0 5px;}
.inbox_form .rows .form_text{width:500px; height:140px; padding:5px; line-height:150%; border:1px solid #e8e8e8; background:#fff; border-radius:5px; vertical-align:top;}

.inbox_form .rows .upload_box{ width:345px; position:relative;}
.inbox_form .rows .upload_input{ width:333px; float:left; height:28px; line-height:28px; border:1px solid #e8e8e8; background:#fff; border-radius:5px; padding:0 5px; text-indent:10px;}
.inbox_form .rows .upload_button{ position:absolute; right:0; top:9px; height:28px; line-height:28px; border:none; padding:0 20px; border-radius:5px;  background:#87AABE; color:#fff;}
.inbox_form .rows .upload_file{ width:344px; height:28px; position:absolute; left:11px; top:9px; filter:alpha(opacity=0); -moz-opacity:0; -webkit-opacity:0; opacity:0; cursor:pointer;}

#lib_user_inbox .msg_list{padding:10px;}
#lib_user_inbox .submit_btn{display:block; height:28px; line-height:28px; border:none; padding:0 30px; border-radius:5px; text-align:center; text-decoration:none; float:left; margin-right:10px; background:#87AABE; border:1px solid #7693A3; color:#fff; cursor:pointer;}

#lib_user_products .item_list{ padding:20px 0 20px 10px; border-bottom:1px dashed #ddd;}
#lib_user_products .item_list:hover{ background:#f9f9f9;}
#lib_user_products .item_list .pic_box{ width:60px; height:60px; text-align:center; float:left;}
#lib_user_products .item_list .item_name{ width:340px; height:60px; line-height:30px; overflow:hidden; float:left; margin-left:20px;}
#lib_user_products .item_list .item_name a{ font-size:14px; color:#000; font-family:"Arial";}
#lib_user_products .item_list .item_date{ float:left; line-height:60px; color:#999; margin-left:60px; font-family:"Arial";}
#lib_user_products .item_list .item_view{ float:left; margin-top:18px; margin-left:60px; position:relative;}
#lib_user_products .item_list .item_view a{ width:65px; height:21px; display:inline-block; border:1px solid #c9c9c9; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-align:center; line-height:21px; color:#999; text-decoration:none; overflow:hidden;}
#lib_user_products .item_list .item_view span{ width:20px; height:20px; display:block; position:absolute; right:-10px; top:-10px; background:#f00; border-radius:10px; color:#fff; line-height:20px; text-align:center;}
#lib_user_products .prod_con{ padding:30px 20px; background:#f8f8f8;}
#lib_user_products .prod_con .pic_box{ width:100px; height:100px; text-align:center; float:left;}
#lib_user_products .prod_con .prod_name{ width:610px; float:left; margin-left:20px; font-size:18px; line-height:25px;}
#lib_user_products .order_con{ padding:30px 20px; background:#f8f8f8; font-size:14px;}
#lib_user_products .order_con span.or_name{ font-weight:bold;}
#lib_user_products .order_con span.or_date{ float:right;}
#lib_user_products .content_box{ max-height:400px; overflow:auto;}
#lib_user_products .item{ padding-top:35px;}
#lib_user_products .item .item_date{ color:#c6c6c6; text-align:center; margin-bottom:15px;}
#lib_user_products .item .item_img{ width:62px; height:62px; margin-left:20px; float:left;}
#lib_user_products .item .item_con{ width:580px; float:left; margin-left:20px; padding:15px 20px 30px 20px; background:#f8f8f8; border:1px solid #e9e9e9; border-radius:5px; font-size:14px; line-height:25px; position:relative;}
#lib_user_products .item .item_con span{ width:13px; height:13px; display:block; position:absolute; left:-12px; top:20px; background:url(../images/user/icon_txt_left.png) no-repeat;}
#lib_user_products .item .item_con img{ max-width:85px; max-height:85px; border:1px solid #ddd; margin-top:10px;}
#lib_user_products .mine .item_con{ margin-left:20px;}
#lib_user_products .mine .item_con span{ left:100%; background:url(../images/user/icon_txt_right.png) no-repeat;}
#lib_user_products .mine .item_img{ float:right; margin-right:20px;}
#lib_user_products .reply_form{ padding:0 20px; margin-top:30px;}
#lib_user_products .reply_form .reply_tips{ font-size:14px; margin-bottom:10px;}
#lib_user_products .reply_form .reply_textarea{ width:700px; height:80px; padding:10px; border:1px solid #e9e9e9;}
#lib_user_products .reply_form .upload_box{ width:722px; height:30px; position:relative; margin-top:25px;}
#lib_user_products .reply_form .upload_input{ width:720px; height:28px; border:1px solid #eee; text-indent:10px;}
#lib_user_products .reply_form .upload_button{ height:28px; position:absolute; right:0; top:1px; line-height:28px; padding:0 20px; background:#d2d2d2; color:#fff; border:0;}
#lib_user_products .reply_form .upload_file{ width:720px; height:28px; cursor:pointer; position:absolute; left:0; top:0; filter:alpha(opacity=0); -moz-opacity:0; -webkit-opacity:0; opacity:0;}
#lib_user_products .reply_form .reply_submit{ height:30px; line-height:30px; padding:0 40px; cursor:pointer; background:#f28810; display:block; color:#fff; font-family:"Arial"; font-size:18px; border:0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; margin-top:20px; margin-left:600px;}

#inbox_popup{ width:700px; height:500px; background:#fff; position:fixed; left:50%; top:50%; margin-left:-350px; margin-top:-250px; z-index:10001; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#inbox_popup .inbox_popup_close{ width:20px; height:20px; position:absolute; right:20px; top:15px; font-size:36px; font-family:arial,sans-serif; color:#c6c6c6; line-height:20px; text-align:center; cursor:pointer;}
#inbox_popup .inbox_popup_param{ background:#f7f7f7; padding:20px;}
#inbox_popup .inbox_popup_param .inbox_popup_img{ width:100px; height:100px; text-align:center; float:left;}
#inbox_popup .inbox_popup_param .inbox_popup_name{ width:540px; float:right; font-size:18px; color:#000; padding-top:10px; line-height:25px;}
#inbox_popup .inbox_popup_container{ padding:0 30px;}
#inbox_popup .inbox_popup_container .inbox_popup_txt{ width:100px; float:left; font-family:"Arial"; font-size:14px; color:#000; line-height:30px;}
#inbox_popup .inbox_popup_container .inbox_popup_input{ width:540px; float:right;}
#inbox_popup .inbox_popup_upload{ position:relative;}
#inbox_popup .inbox_popup_upload .upload_input{ width:538px; height:28px; float:left; border:1px solid #eee; text-indent:10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
#inbox_popup .inbox_popup_upload .upload_button{ position:absolute; right:0; top:0; padding:0 20px; height:30px; float:left; line-height:30px; background:#d2d2d2; color:#fff; border:0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
#inbox_popup .inbox_popup_upload .upload_file{ position:absolute; left:0; top:0; width:540px; height:30px; filter:alpha(opacity=0); -moz-opacity:0; -webkit-opacity:0; opacity:0; cursor:pointer;}
#inbox_popup .inbox_popup_form_textarea{ width:518px; height:80px; padding:10px; border:1px solid #eee; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
#inbox_popup .inbox_popup_form_submit{ height:30px; line-height:30px; padding:0 40px; cursor:pointer; background:#f28810; display:block; margin:0 auto; color:#fff; font-family:"Arial"; font-size:18px; border:0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
/*************************** 站内信 End ***************************/

/*************************** 系统消息 Start ***************************/
#lib_user_msg{padding:0 20px;}
#lib_user_msg .submit_btn{display:block; height:28px; line-height:28px; border:none; padding:0 30px; border-radius:5px; text-align:center; text-decoration:none; float:left; margin-right:10px; background:#87AABE; border:1px solid #7693A3; color:#fff; cursor:pointer;}
/*************************** 系统消息 End ***************************/

/*************************** 会员捆绑 Start ***************************/
#lib_user_binding{margin:0 auto; overflow:hidden; background:#fff; padding:30px 0;}
#lib_user_binding form{border:1px solid #ccc; padding-bottom:20px; margin:0 auto; width:460px;}
#lib_user_binding form .title{margin:0 20px 15px; height:52px; border-bottom:1px solid #e5e5e5; line-height:52px; font-size:16px; color:#333;}
#lib_user_binding form .error_note_box{border:1px #ffdb83 solid; color:#f00; padding:10px; margin:15px 20px; background:#fff9e1; display:none;}
#lib_user_binding form .on_error{margin:0; color:#f00; display:none;}
#lib_user_binding form .row{margin:10px 0 0 33px;}
#lib_user_binding form .row label{display:block; font-size:14px; color:#555; margin-bottom:4px;}

#binding_module{position:fixed; z-index:100000; top:20%;}
#binding_module .box_bg{width:100%; height:100%; background-color:#fff; position:absolute; top:0; left:0; -moz-box-shadow:0px 0px 20px #000; -webkit-box-shadow:0px 0px 20px #000; box-shadow:0px 0px 20px #000; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
#binding_module .noCtrTrack{top:12px; right:0px; width:40px; height:26px; font-size:30px; color:#000; opacity:0.2; filter:alpha(opacity=20); text-decoration:none; font-family:Helvetica; font-weight:bold; position:absolute; z-index:100000;}
#binding_module .noCtrTrack:hover{color:#000000; text-decoration:none; cursor:pointer; opacity:0.4; filter:alpha(opacity=40);}
#binding_module #lb-wrapper{width:400px; padding:20px; position:relative; z-index:10; zoom:1; background-color:#fff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); -webkit-background-clip:padding-box; -moz-background-clip:padding-box; background-clip:padding-box;}
#binding_module #lb-wrapper .lib_txt{border:1px solid #ccc; border-radius:3px!important; height:36px; line-height:36px; width:370px; padding:0 7px; color:#333; font-size:16px; box-shadow:0 1px 0 rgba(255,255,255,.8),inset 0 1px 2px rgba(0,0,0,.06);}
#binding_module #lb-wrapper .title{margin:0 20px 8px 8px; line-height:24px; font-size:18px; color:#000;}
#binding_module #lb-wrapper .provide{margin:0 8px; font-size:12px;}
#binding_module #lb-wrapper .error_note_box{border:1px #ffdb83 solid; color:#f00; padding:10px; margin:15px 5px; background:#fff9e1; display:none;}
#binding_module #lb-wrapper .on_error{margin:0; color:#f00; display:none;}
#binding_module #lb-wrapper .row{ margin-top:10px; padding:0 8px;}
#binding_module #lb-wrapper .row label{display:block; font-size:14px; color:#555; margin-bottom:4px;}
#binding_module #lb-wrapper .row .note{margin-top:8px; color:#999;}
#binding_module #lb-wrapper .protect{padding-left:30px; position:relative; overflow:hidden; margin-bottom:15px;}
#binding_module #lb-wrapper .protect span{color:#767676; display:block; margin-top:4px;}
#binding_module #lb-wrapper .protect .ckb{position:absolute; top:2px; left:4px;}
#binding_module #lb-wrapper .signbtn{border-radius:4px; -ms-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:2px 12px; line-height:25px; display:inline-block; cursor:pointer; font-size:14px; margin-right:10px;}
#binding_module #lb-wrapper .signin{color:#fff;}
#binding_module #lb-wrapper .signup{background:#fff; border:1px solid #d0d0d0;}
/*************************** 会员捆绑 End ***************************/

/*************************** 会员登录2 Sstart ***************************/
.global_login_sec{ position:relative; z-index:1001; display:none;}
.signin_box_sec{ position:absolute; display:none;}
.signin_box_sec .signin_container{ width:280px; padding:25px 20px; border:1px solid #ddd; background:#fff; height:auto; -moz-box-shadow:0 0 15px 0 rgba(153,153,153,0.5); -webkit-box-shadow:0 0 15px 0 rgba(153,153,153,0.5); box-shadow:0 0 15px 0 rgba(153,153,153,0.5);}
.signin_box_sec .error_login_box{ display:none; border:1px solid #dd3c10; padding:15px; background:#ffebe9; color:#777; font-size:12px; line-height:18px; font-family:"Arial"; margin-top:10px;}
.signin_box_sec .g_s_txt{ width:100%; height:35px; line-height:35px; text-indent:10px; border:1px solid #eee; background:#eee; font-family:"MyriadPro"; font-size:14px; color:#aaa; font-style:italic; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.signin_box_sec .forgot{ float:right; text-align:right; font-family:"MyriadPro"; font-size:14px; color:#aaa; margin-top:10px;}
.signin_box_sec .signin{ clear:both; width:100%; height:35px; line-height:35px; margin-top:15px; text-align:center; color:#fff; font-size:14px; font-family:"MyriadPro"; border:0; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.signin_box_sec h4{ font-family:"MyriadPro"; font-size:14px; margin:10px 0; text-indent:3px;}
.signin_box_sec ul li{ float:left; width:60px; height:28px; margin:0 5px; overflow:hidden; border-radius:3px; cursor:pointer;}
.signin_box_sec #fb_button{ background:url(../images/ico/icon_facebook.png) #3c5998 center no-repeat;}
.signin_box_sec #fb_button:hover{ background:url(../images/ico/icon_facebook.png) #4363a8 center no-repeat;}
.signin_box_sec #twitter_btn{ background:url(../images/ico/icon_witter.png) #3498e4 center no-repeat;}
.signin_box_sec #twitter_btn:hover{ background:url(../images/ico/icon_witter.png) #38a5f8 center no-repeat;}
.signin_box_sec #google_login{ background:url(../images/ico/icon_google.png) #cc3732 center no-repeat;}
.signin_box_sec #google_login:hover{ background:url(../images/ico/icon_google.png) #e03c36 center no-repeat;}
.signin_box_sec #paypalLogin{ background:url(../images/ico/icon_paypal.png) #0093e9 center no-repeat;}
.signin_box_sec #paypalLogin:hover{ background:url(../images/ico/icon_paypal.png) #03a1fd center no-repeat;}
.signin_box_sec #paypalLogin .PPBlue{ border:0 !important; box-shadow:0 0 0 0 !important; background:none !important;}
.signin_box_sec #paypalLogin .PPBlue *{ visibility:hidden !important;}
.signin_box_sec #vk_button{ background:url(../images/ico/icon_vk.png) #507299 center no-repeat;}
.signin_box_sec #vk_button:hover{ background:url(../images/ico/icon_vk.png) #5f86b4 center no-repeat;}
.signin_box_sec .signup{ display:block; height:33px; line-height:33px; border-style:solid; border-width:1px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; font-family:"MyriadPro"; font-size:14px; text-align:center; text-decoration:none;}

.global_account_sec{ position:relative; z-index:1001; display:none;}
.account_container_sec{ position:absolute; display:none;}
.account_box_sec{ width:160px; padding:20px; background:#fff; border:1px solid #ddd; -moz-box-shadow:0 0 15px 0 rgba(153,153,153,0.5); -webkit-box-shadow:0 0 15px 0 rgba(153,153,153,0.5); box-shadow:0 0 15px 0 rgba(153,153,153,0.5);}
.account_box_sec .rows{ height:25px; line-height:25px; overflow:hidden; margin-bottom:10px;}
.account_box_sec .rows a{ font-family:"MyriadPro"; font-size:16px;}
.account_box_sec .rows b{ width:20px; height:20px; line-height:20px; margin-left:5px; font-size:12px; display:inline-block; color:#fff; border-radius:10px; text-align:center;}
.account_box_sec .btn{ margin-top:25px;}
.account_box_sec .btn a{ width:158px; height:33px; line-height:33px; text-align:center; display:inline-block; border-width:1px; border-style:solid; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; text-decoration:none;}
/*************************** 会员登录2 End ***************************/