/*
Powered by ly200.com		http://www.ly200.com
广州联雅网络科技有限公司		020-83226791
*/
@font-face { font-family:"MyriadPro"; src:url("../../../css/font/MyriadPro.woff2") format("woff2"),url("../../../css/font/MyriadPro.woff") format("woff"),url("../../../css/font/MyriadPro.ttf") format("truetype"),url("../../../css/font/MyriadPro.eot") format("embedded-opentype"); font-weight: normal; font-style: normal;}
@font-face{ font-family:"Futura_Md_BT"; src:url("../../../css/font/FuturaMdBT.woff2") format("woff2"),url("../../../css/font/FuturaMdBT.woff") format("woff"),url("../../../css/font/FuturaMdBT.ttf") format("truetype"),url("../../../css/font/FuturaMdBT.eot") format("embedded-opentype"); font-weight: normal; font-style: normal;}
@font-face{ font-family:"Futura_Bk_BT"; src:url("../../../css/font/FuturaBkBT.woff2") format("woff2"),url("../../../css/font/FuturaBkBT.woff") format("woff"),url("../../../css/font/FuturaBkBT.ttf") format("truetype"),url("../../../css/font/FuturaBkBT.eot") format("embedded-opentype"); font-weight: normal; font-style: normal;}